In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_rows", 2000)
pd.set_option("display.max_columns", None)

In [3]:
enrol_df = pd.read_csv(r"D:\UIDAI hackathon\North\JandK\enrollment1.csv")
enrol_df = pd.concat([enrol_df, pd.read_csv(r"D:\UIDAI hackathon\North\JandK\enrollment2.csv")], ignore_index=True)
enrol_df = pd.concat([enrol_df, pd.read_csv(r"D:\UIDAI hackathon\North\JandK\enrollment3.csv")], ignore_index=True)

demo_df = pd.read_csv(r"D:\UIDAI hackathon\North\JandK\demographic1.csv")
demo_df = pd.concat([demo_df, pd.read_csv(r"D:\UIDAI hackathon\North\JandK\demographic2.csv")], ignore_index=True)

bio_df = pd.read_csv(r"D:\UIDAI hackathon\North\JandK\biometric1.csv")
bio_df = pd.concat([bio_df, pd.read_csv(r"D:\UIDAI hackathon\North\JandK\biometric2.csv")], ignore_index=True)

In [4]:
all_dfs = [enrol_df, demo_df, bio_df]

In [5]:
enrol_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-09-2025,Jammu & Kashmir,Baramula,193101,3,0,0
1,04-09-2025,Jammu & Kashmir,Jammu,180002,0,1,0
2,09-09-2025,Jammu & Kashmir,Jammu,181102,1,0,0
3,12-09-2025,Jammu & Kashmir,Jammu,180010,1,0,0
4,19-09-2025,Jammu & Kashmir,Kupwara,193224,1,1,0

In [6]:
enrol_df["date"] = pd.to_datetime(enrol_df["date"], dayfirst=True)
demo_df["date"] = pd.to_datetime(demo_df["date"], dayfirst=True)
bio_df["date"] = pd.to_datetime(bio_df["date"], dayfirst=True)

In [7]:
print(enrol_df["district"].nunique(), demo_df["district"].nunique(), bio_df["district"].nunique())

28 27 32

In [8]:
enrol_df["district"].value_counts().sort_index()

district
Anantnag         908
Badgam           444
Bandipore        311
Bandipur           2
Baramula         963
Budgam           348
Doda             732
Ganderbal        283
Jammu           2175
Kargil           288
Kathua           981
Kishtwar         227
Kulgam           185
Kupwara          521
Leh              124
Leh (ladakh)       2
Pulwama          563
Punch            333
Rajauri            3
Rajouri          800
Ramban           344
Reasi            441
Samba            335
Shopian            1
Shupiyan          81
Srinagar        1385
Udhampur         886
punch              1
Name: count, dtype: int64

In [9]:
bio_df["district"].value_counts().sort_index()

district
?                  2
Anantnag        3203
Badgam          1765
Bandipore       1110
Bandipur          11
Baramula        3523
Baramulla          3
Budgam          1554
Doda            2795
Ganderbal       1050
Jammu           9867
Kargil          1255
Kathua          3914
Kishtwar         678
Kulgam           863
Kupwara         1557
Leh              994
Leh (ladakh)      39
Poonch             8
Pulwama         2349
Punch            942
Rajauri           68
Rajouri         2831
Ramban          1118
Reasi           1703
Samba           1803
Shupiyan         250
Srinagar        5657
Udhampur        3829
\                  1
punch              1
udhampur           3
Name: count, dtype: int64

In [10]:
demo_df["district"].value_counts().sort_index()

district
Anantnag        1453
Badgam           794
Bandipore        461
Bandipur           2
Baramula        1604
Budgam           683
Doda            1199
Ganderbal        498
Jammu           4039
Kargil           598
Kathua          1654
Kishtwar         301
Kulgam           333
Kupwara          706
Leh              367
Leh (ladakh)      12
Poonch             2
Pulwama         1051
Punch            428
Rajauri           24
Rajouri         1245
Ramban           484
Reasi            702
Samba            725
Shupiyan         114
Srinagar        2512
Udhampur        1594
Name: count, dtype: int64

In [11]:
cleanup_map = {
    "Badgam": "Budgam",
    "Bandipur": "Bandipore",
    "bandipora": "Bandipore",
    "Baramula": "Baramulla",
    "Leh (ladakh)": "Leh",
    "Punch": "Poonch",
    "punch": "Poonch",
    "Rajauri": "Rajouri",
    "Shupiyan": "Shopian",
    "udhampur": "Udhampur",
    "Jammu & Kashmir":"Jammu and Kashmir",
    "Jammu And Kashmir":"Jammu and Kashmir"
}

noise = ["?", "\\"]

for df in all_dfs:
    df["district"] = df["district"].replace(cleanup_map)
    df["state"] = df["state"].replace(cleanup_map)

enrol_df = enrol_df[~enrol_df["district"].isin(noise)]
demo_df = demo_df[~demo_df["district"].isin(noise)]
bio_df = bio_df[~bio_df["district"].isin(noise)]

all_dfs = [enrol_df, demo_df, bio_df]
    
print(enrol_df["district"].nunique(), demo_df["district"].nunique(), bio_df["district"].nunique())

22 22 22

In [12]:
enrol_df["district"] = enrol_df["district"].str.lower()
demo_df["district"] = demo_df["district"].str.lower()
bio_df["district"] = bio_df["district"].str.lower()

C:\Users\yasse\AppData\Local\Temp\ipykernel_18040\2095086038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bio_df["district"] = bio_df["district"].str.lower()

In [13]:
print(enrol_df["pincode"].nunique(), demo_df["pincode"].nunique(), bio_df["pincode"].nunique())

202 206 207

In [14]:
# Analyze pincode differences
enrol_pincodes = set(enrol_df["pincode"].dropna())
demo_pincodes = set(demo_df["pincode"].dropna())
bio_pincodes = set(bio_df["pincode"].dropna())

print("Enrollment pincodes:", len(enrol_pincodes))
print("Demographic pincodes:", len(demo_pincodes))
print("Biometric pincodes:", len(bio_pincodes))
print()

# Find differences
only_in_enrol = enrol_pincodes - demo_pincodes - bio_pincodes
only_in_demo = demo_pincodes - enrol_pincodes - bio_pincodes
only_in_bio = bio_pincodes - enrol_pincodes - demo_pincodes
in_all = enrol_pincodes & demo_pincodes & bio_pincodes

print(f"Pincodes only in enrollment: {len(only_in_enrol)}")
print(f"Pincodes only in demographic: {len(only_in_demo)}")
print(f"Pincodes only in biometric: {len(only_in_bio)}")
print(f"Pincodes in all three: {len(in_all)}")
print()

# Check for NULL/NaN values
print("NULL pincodes:")
print(f"Enrollment: {enrol_df["pincode"].isna().sum()}")
print(f"Demographic: {demo_df["pincode"].isna().sum()}")
print(f"Biometric: {bio_df["pincode"].isna().sum()}")
print()

# Show some examples of unique pincodes
print("Sample pincodes only in enrollment:", list(only_in_enrol))
print("Sample pincodes only in demographic:", list(only_in_demo))
print("Sample pincodes only in biometric:", list(only_in_bio))

Enrollment pincodes: 202
Demographic pincodes: 206
Biometric pincodes: 207

Pincodes only in enrollment: 0
Pincodes only in demographic: 0
Pincodes only in biometric: 1
Pincodes in all three: 202

NULL pincodes:
Enrollment: 0
Demographic: 0
Biometric: 0

Sample pincodes only in enrollment: []
Sample pincodes only in demographic: []
Sample pincodes only in biometric: [181209]

In [15]:
for df in all_dfs:
    df["month"] = df["date"].dt.month

In [16]:
enrol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13667 entries, 0 to 13666
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            13667 non-null  datetime64[ns]
 1   state           13667 non-null  object
 2   district        13667 non-null  object
 3   pincode         13667 non-null  int64
 4   age_0_5         13667 non-null  int64
 5   age_5_17        13667 non-null  int64
 6   age_18_greater  13667 non-null  int64
 7   month           13667 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(4), object(2)
memory usage: 800.9+ KB

In [17]:
demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23585 entries, 0 to 23584
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           23585 non-null  datetime64[ns]
 1   state          23585 non-null  object
 2   district       23585 non-null  object
 3   pincode        23585 non-null  int64
 4   demo_age_5_17  23585 non-null  int64
 5   demo_age_17_   23585 non-null  int64
 6   month          23585 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(3), object(2)
memory usage: 1.2+ MB

In [18]:
bio_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54743 entries, 0 to 54745
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          54743 non-null  datetime64[ns]
 1   state         54743 non-null  object
 2   district      54743 non-null  object
 3   pincode       54743 non-null  int64
 4   bio_age_5_17  54743 non-null  int64
 5   bio_age_17_   54743 non-null  int64
 6   month         54743 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(3), object(2)
memory usage: 3.1+ MB

In [19]:
enrol_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,month
0,2025-09-02,Jammu and Kashmir,baramulla,193101,3,0,0,9
1,2025-09-04,Jammu and Kashmir,jammu,180002,0,1,0,9
2,2025-09-09,Jammu and Kashmir,jammu,181102,1,0,0,9
3,2025-09-12,Jammu and Kashmir,jammu,180010,1,0,0,9
4,2025-09-19,Jammu and Kashmir,kupwara,193224,1,1,0,9

In [20]:
demo_df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_,month
0,2025-09-05,Jammu and Kashmir,jammu,181205,1,0,9
1,2025-09-06,Jammu and Kashmir,baramulla,193101,0,1,9
2,2025-09-06,Jammu and Kashmir,kathua,184101,0,1,9
3,2025-09-08,Jammu and Kashmir,baramulla,193101,0,1,9
4,2025-09-09,Jammu and Kashmir,jammu,180001,0,2,9

In [21]:
bio_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_,month
0,2025-06-26,Jammu and Kashmir,jammu,180002,0,1,6
1,2025-06-26,Jammu and Kashmir,kargil,194103,0,1,6
2,2025-06-27,Jammu and Kashmir,baramulla,193122,0,1,6
3,2025-06-21,Jammu and Kashmir,doda,182204,0,1,6
4,2025-06-28,Jammu and Kashmir,doda,182204,0,1,6

In [22]:
enrol_agg = enrol_df.groupby(["state", "district", "month"])[["age_0_5", "age_5_17", "age_18_greater"]].sum().reset_index()
demo_agg = demo_df.groupby(["state", "district", "month"])[["demo_age_5_17", "demo_age_17_"]].sum().reset_index()
bio_agg = bio_df.groupby(["state", "district", "month"])[["bio_age_5_17", "bio_age_17_"]].sum().reset_index()

combined_df = enrol_agg.merge(demo_agg, on = ["state", "district", "month"], how = "left").merge(bio_agg, on = ["state", "district", "month"], how = "left")
combined_df.fillna(0, inplace=True)
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635
1,Jammu and Kashmir,anantnag,6,419,70,2,537.0,3257.0,3462,3897
2,Jammu and Kashmir,anantnag,9,861,104,1,455.0,2741.0,3951,2256
3,Jammu and Kashmir,anantnag,10,670,87,3,353.0,2311.0,5244,2980
4,Jammu and Kashmir,anantnag,11,744,93,24,908.0,5329.0,3388,2037

In [23]:
combined_df["E"] = combined_df["age_0_5"] + combined_df["age_5_17"] + combined_df["age_18_greater"]
combined_df["DU"] = combined_df["demo_age_5_17"] + combined_df["demo_age_17_"]
combined_df["BU"] = combined_df["bio_age_5_17"] + combined_df["bio_age_17_"]
combined_df["U"] = combined_df["DU"] + combined_df["BU"]
combined_df["T"] = combined_df["E"] + combined_df["U"]
combined_df.head(20)

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635,216,632.0,2188,2820.0,3036.0
1,Jammu and Kashmir,anantnag,6,419,70,2,537.0,3257.0,3462,3897,491,3794.0,7359,11153.0,11644.0
2,Jammu and Kashmir,anantnag,9,861,104,1,455.0,2741.0,3951,2256,966,3196.0,6207,9403.0,10369.0
3,Jammu and Kashmir,anantnag,10,670,87,3,353.0,2311.0,5244,2980,760,2664.0,8224,10888.0,11648.0
4,Jammu and Kashmir,anantnag,11,744,93,24,908.0,5329.0,3388,2037,861,6237.0,5425,11662.0,12523.0
5,Jammu and Kashmir,anantnag,12,655,56,6,1155.0,6486.0,13494,4249,717,7641.0,17743,25384.0,26101.0
6,Jammu and Kashmir,bandipore,1,67,38,1,42.0,210.0,343,191,106,252.0,534,786.0,892.0
7,Jammu and Kashmir,bandipore,6,88,64,3,0.0,0.0,1161,1344,155,0.0,2505,2505.0,2660.0
8,Jammu and Kashmir,bandipore,9,366,101,2,227.0,1071.0,2337,838,469,1298.0,3175,4473.0,4942.0
9,Jammu and Kashmir,bandipore,10,311,81,8,198.0,942.0,2301,1257,400,1140.0,3558,4698.0,5098.0
10,Jammu and Kashmir,bandipore,11,289,67,21,500.0,1784.0,1106,792,377,2284.0,1898,4182.0,4559.0
11,Jammu and Kashmir,bandipore,12,277,52,2,430.0,2595.0,3921,1752,331,3025.0,5673,8698.0,9029.0
12,Jammu and Kashmir,baramulla,1,328,65,2,103.0,574.0,656,663,395,677.0,1319,1996.0,2391.0
13,Jammu and Kashmir,baramulla,5,136,39,12,89.0,643.0,3280,5954,187,732.0,9234,9966.0,10153.0
14,Jammu and Kashmir,baramulla,6,309,119,7,96.0,869.0,2617,5816,435,965.0,8433,9398.0,9833.0
15,Jammu and Kashmir,baramulla,9,784,163,3,403.0,2595.0,3361,3226,950,2998.0,6587,9585.0,10535.0
16,Jammu and Kashmir,baramulla,10,506,109,6,304.0,2343.0,4804,3916,621,2647.0,8720,11367.0,11988.0
17,Jammu and Kashmir,baramulla,11,703,132,42,821.0,4945.0,6503,3365,877,5766.0,9868,15634.0,16511.0
18,Jammu and Kashmir,baramulla,12,1144,90,2,1094.0,6512.0,6213,4716,1236,7606.0,10929,18535.0,19771.0
19,Jammu and Kashmir,budgam,1,141,16,0,57.0,367.0,385,334,157,424.0,719,1143.0,1300.0

In [24]:
district_monthly_counts = combined_df.groupby(["district", "month"]).agg(total_months = ("month", "count"), active_months = ("T", lambda x : (x > 0).sum())).reset_index()
district_monthly_counts.head()

   district  month  total_months  active_months
0  anantnag      1             1              1
1  anantnag      6             1              1
2  anantnag      9             1              1
3  anantnag     10             1              1
4  anantnag     11             1              1

In [25]:
district_monthly_counts["zero_months"] = district_monthly_counts["total_months"] - district_monthly_counts["active_months"]
district_monthly_counts["activity_ratio"] = district_monthly_counts["active_months"] / district_monthly_counts["total_months"]
district_monthly_counts["zero_month_ratio"] = district_monthly_counts["zero_months"] / district_monthly_counts["total_months"]

combined_df = combined_df.merge(district_monthly_counts[["district", "month", "activity_ratio", "zero_month_ratio"]], on = ["district", "month"], how = "left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635,216,632.0,2188,2820.0,3036.0,1.0,0.0
1,Jammu and Kashmir,anantnag,6,419,70,2,537.0,3257.0,3462,3897,491,3794.0,7359,11153.0,11644.0,1.0,0.0
2,Jammu and Kashmir,anantnag,9,861,104,1,455.0,2741.0,3951,2256,966,3196.0,6207,9403.0,10369.0,1.0,0.0
3,Jammu and Kashmir,anantnag,10,670,87,3,353.0,2311.0,5244,2980,760,2664.0,8224,10888.0,11648.0,1.0,0.0
4,Jammu and Kashmir,anantnag,11,744,93,24,908.0,5329.0,3388,2037,861,6237.0,5425,11662.0,12523.0,1.0,0.0

In [26]:
combined_df = combined_df.merge(district_monthly_counts[["district", "month", "activity_ratio", "zero_month_ratio"]], on = ["district", "month"], how = "left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635,216,632.0,2188,2820.0,3036.0,1.0,0.0,1.0,0.0
1,Jammu and Kashmir,anantnag,6,419,70,2,537.0,3257.0,3462,3897,491,3794.0,7359,11153.0,11644.0,1.0,0.0,1.0,0.0
2,Jammu and Kashmir,anantnag,9,861,104,1,455.0,2741.0,3951,2256,966,3196.0,6207,9403.0,10369.0,1.0,0.0,1.0,0.0
3,Jammu and Kashmir,anantnag,10,670,87,3,353.0,2311.0,5244,2980,760,2664.0,8224,10888.0,11648.0,1.0,0.0,1.0,0.0
4,Jammu and Kashmir,anantnag,11,744,93,24,908.0,5329.0,3388,2037,861,6237.0,5425,11662.0,12523.0,1.0,0.0,1.0,0.0

In [27]:
district_volume_metrics = combined_df.groupby(["state", "district"]).agg(avg_monthly_enrolment = ("E", "mean"),
                                               monthly_valatility = ("T", lambda x: x.std(ddof=0) / x.mean() if x.mean() > 0 else 0),
                                               peak_load_ratio = ("T", lambda x: x.max() / x.mean() if x.mean() > 0 else 0)).reset_index()


combined_df = combined_df.merge(district_volume_metrics, on=["state", "district"], how="left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y,avg_monthly_enrolment,monthly_valatility,peak_load_ratio
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635,216,632.0,2188,2820.0,3036.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181
1,Jammu and Kashmir,anantnag,6,419,70,2,537.0,3257.0,3462,3897,491,3794.0,7359,11153.0,11644.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181
2,Jammu and Kashmir,anantnag,9,861,104,1,455.0,2741.0,3951,2256,966,3196.0,6207,9403.0,10369.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181
3,Jammu and Kashmir,anantnag,10,670,87,3,353.0,2311.0,5244,2980,760,2664.0,8224,10888.0,11648.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181
4,Jammu and Kashmir,anantnag,11,744,93,24,908.0,5329.0,3388,2037,861,6237.0,5425,11662.0,12523.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181

In [28]:
district_update_burden = combined_df.groupby(["state", "district"]).agg(avg_monthly_enrollments = ("E", "sum"), avg_monthly_demo_updates = ("DU", "sum"), avg_monthly_bio_updates = ("BU", "sum")).reset_index()

district_update_burden["U"] = district_update_burden["avg_monthly_demo_updates"] + district_update_burden["avg_monthly_bio_updates"]
district_update_burden["biometric_burden"] = district_update_burden["avg_monthly_bio_updates"] / (district_update_burden["avg_monthly_bio_updates"] + district_update_burden["avg_monthly_demo_updates"])
district_update_burden["update_dominant"] = np.where(district_update_burden["U"] > district_update_burden["avg_monthly_enrollments"], 1, 0)
district_update_burden["enrollment_update_balance"] = district_update_burden["avg_monthly_enrollments"] / (district_update_burden["avg_monthly_enrollments"] + district_update_burden["U"])

combined_df = combined_df.merge(district_update_burden[["state", "district", "biometric_burden", "update_dominant", "enrollment_update_balance"]], on=["state", "district"], how="left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635,216,632.0,2188,2820.0,3036.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181,0.661141,1,0.053252
1,Jammu and Kashmir,anantnag,6,419,70,2,537.0,3257.0,3462,3897,491,3794.0,7359,11153.0,11644.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181,0.661141,1,0.053252
2,Jammu and Kashmir,anantnag,9,861,104,1,455.0,2741.0,3951,2256,966,3196.0,6207,9403.0,10369.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181,0.661141,1,0.053252
3,Jammu and Kashmir,anantnag,10,670,87,3,353.0,2311.0,5244,2980,760,2664.0,8224,10888.0,11648.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181,0.661141,1,0.053252
4,Jammu and Kashmir,anantnag,11,744,93,24,908.0,5329.0,3388,2037,861,6237.0,5425,11662.0,12523.0,1.0,0.0,1.0,0.0,668.5,0.544697,2.079181,0.661141,1,0.053252

In [29]:
combined_df.drop(["activity_ratio_y", "zero_month_ratio_y"], axis=1, inplace=True)
combined_df.rename(columns={"activity_ratio_x": "activity_ratio", "zero_month_ratio_x": "zero_month_ratio"}, inplace=True)

In [30]:
combined_df = combined_df.groupby(["state", "district"], as_index = False).first()
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635,216,632.0,2188,2820.0,3036.0,1.0,0.0,668.500000,0.544697,2.079181,0.661141,1,0.053252
1,Jammu and Kashmir,bandipore,1,67,38,1,42.0,210.0,343,191,106,252.0,534,786.0,892.0,1.0,0.0,306.333333,0.551627,1.993157,0.684358,1,0.067623
2,Jammu and Kashmir,baramulla,1,328,65,2,103.0,574.0,656,663,395,677.0,1319,1996.0,2391.0,1.0,0.0,671.571429,0.439897,1.704774,0.720310,1,0.057907
3,Jammu and Kashmir,budgam,1,141,16,0,57.0,367.0,385,334,157,424.0,719,1143.0,1300.0,1.0,0.0,528.166667,0.445264,1.674444,0.666053,1,0.064976
4,Jammu and Kashmir,doda,1,188,63,0,23.0,256.0,248,331,251,279.0,579,858.0,1109.0,1.0,0.0,726.857143,0.466046,1.599279,0.794183,1,0.110520

In [31]:
def normalize(x):
    maxx, minx = x.max(), x.min()
    if maxx == minx:
        return x * 0 + 0.5
    normalized = (x - minx) / (maxx - minx)
    return normalized

def inverse_normalize(x):
    inversed = 1 - normalize(x)
    return inversed

In [32]:
combined_df["access"] = (combined_df["activity_ratio"] + normalize(combined_df["avg_monthly_enrolment"])) / 2
combined_df["responsiveness"] = normalize(combined_df["U"] / (combined_df["E"] + combined_df["U"]))
combined_df["inclusion"] = normalize((combined_df["age_0_5"] + combined_df["age_5_17"]) / combined_df["E"])
combined_df["stability"] = (inverse_normalize(combined_df["monthly_valatility"]) + inverse_normalize(combined_df["peak_load_ratio"])) / 2
combined_df["visibility"] = combined_df["activity_ratio"]

combined_df["DEI"] = (combined_df["access"] + combined_df["responsiveness"] + combined_df["inclusion"] + combined_df["stability"] + combined_df["visibility"]) / 5
combined_df["ASS"] = (inverse_normalize(combined_df["activity_ratio"]) + inverse_normalize(combined_df["avg_monthly_enrolment"])) / 2
combined_df["UBS"] = (normalize(combined_df["biometric_burden"]) + normalize(combined_df["update_dominant"])) / 2
combined_df["SRS"] = (normalize(combined_df["monthly_valatility"]) + normalize(combined_df["zero_month_ratio"])) / 2

combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance,access,responsiveness,inclusion,stability,visibility,DEI,ASS,UBS,SRS
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635,216,632.0,2188,2820.0,3036.0,1.0,0.0,668.500000,0.544697,2.079181,0.661141,1,0.053252,0.922818,0.976539,1.000000,0.246608,1.0,0.829193,0.327182,0.378705,0.535576
1,Jammu and Kashmir,bandipore,1,67,38,1,42.0,210.0,343,191,106,252.0,534,786.0,892.0,1.0,0.0,306.333333,0.551627,1.993157,0.684358,1,0.067623,0.680203,0.703418,0.488208,0.289988,1.0,0.632363,0.569797,0.437004,0.546946
2,Jammu and Kashmir,baramulla,1,328,65,2,103.0,574.0,656,663,395,677.0,1319,1996.0,2391.0,1.0,0.0,671.571429,0.439897,1.704774,0.720310,1,0.057907,0.924876,0.437852,0.725316,0.656832,1.0,0.748975,0.325124,0.527282,0.363639
3,Jammu and Kashmir,budgam,1,141,16,0,57.0,367.0,385,334,157,424.0,719,1143.0,1300.0,1.0,0.0,528.166667,0.445264,1.674444,0.666053,1,0.064976,0.828809,0.692335,1.000000,0.667330,1.0,0.837695,0.421191,0.391038,0.372445
4,Jammu and Kashmir,doda,1,188,63,0,23.0,256.0,248,331,251,279.0,579,858.0,1109.0,1.0,0.0,726.857143,0.466046,1.599279,0.794183,1,0.110520,0.961911,0.087761,1.000000,0.681074,1.0,0.746149,0.288089,0.712784,0.406539

In [33]:
combined_df.drop(["access", "responsiveness", "inclusion", "stability", "visibility"], axis=1, inplace=True)
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance,DEI,ASS,UBS,SRS
0,Jammu and Kashmir,anantnag,1,180,36,0,83.0,549.0,1553,635,216,632.0,2188,2820.0,3036.0,1.0,0.0,668.500000,0.544697,2.079181,0.661141,1,0.053252,0.829193,0.327182,0.378705,0.535576
1,Jammu and Kashmir,bandipore,1,67,38,1,42.0,210.0,343,191,106,252.0,534,786.0,892.0,1.0,0.0,306.333333,0.551627,1.993157,0.684358,1,0.067623,0.632363,0.569797,0.437004,0.546946
2,Jammu and Kashmir,baramulla,1,328,65,2,103.0,574.0,656,663,395,677.0,1319,1996.0,2391.0,1.0,0.0,671.571429,0.439897,1.704774,0.720310,1,0.057907,0.748975,0.325124,0.527282,0.363639
3,Jammu and Kashmir,budgam,1,141,16,0,57.0,367.0,385,334,157,424.0,719,1143.0,1300.0,1.0,0.0,528.166667,0.445264,1.674444,0.666053,1,0.064976,0.837695,0.421191,0.391038,0.372445
4,Jammu and Kashmir,doda,1,188,63,0,23.0,256.0,248,331,251,279.0,579,858.0,1109.0,1.0,0.0,726.857143,0.466046,1.599279,0.794183,1,0.110520,0.746149,0.288089,0.712784,0.406539

In [34]:
combined_df.to_csv(r"D:\UIDAI hackathon\North\JandK\jandk_district_analysis.csv", index=False)
final_df = combined_df[["state", "district", "DEI", "ASS", "UBS", "SRS"]]
final_df.to_csv(r"D:\UIDAI hackathon\North\JandK\jandk_district_final_scores.csv", index=False)