In [1]:
import numpy as np
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_rows", 2000)
pd.set_option("display.max_columns", None)

In [3]:
enrol_df = pd.read_csv(r"D:\UIDAI hackathon\North\Punjab\enrollment.csv")
demo_df = pd.read_csv(r"D:\UIDAI hackathon\North\Punjab\demographic.csv")
bio_df = pd.read_csv(r"D:\UIDAI hackathon\North\Punjab\biometric.csv")

In [4]:
all_dfs = [enrol_df, demo_df, bio_df]

In [5]:
enrol_df.head()

         date   state    district  pincode  age_0_5  age_5_17  age_18_greater
0  01-04-2025  Punjab    Ludhiana   141007      374       110              25
1  01-04-2025  Punjab    Ludhiana   141012       52        22              10
2  01-05-2025  Punjab  Hoshiarpur   146001      197        48              18
3  01-05-2025  Punjab  Kapurthala   144401      113        40              15
4  01-06-2025  Punjab    Ludhiana   141007      257       159              17

In [6]:
enrol_df["date"] = pd.to_datetime(enrol_df["date"], dayfirst=True)
demo_df["date"] = pd.to_datetime(demo_df["date"], dayfirst=True)
bio_df["date"] = pd.to_datetime(bio_df["date"], dayfirst=True)

In [7]:
for df in all_dfs:
    df.drop(df[df["district"] == "chandigarh"].index, inplace=True)

In [8]:
print(enrol_df["district"].nunique(), demo_df["district"].nunique(), bio_df["district"].nunique())

28 27 28

In [9]:
enrol_df["district"].value_counts().sort_index()

district
Amritsar                      1828
Barnala                        491
Bathinda                       938
Faridkot                       421
Fatehgarh Sahib                543
Fazilka                        592
Ferozepur                      716
Firozpur                       352
Gurdaspur                     1606
Hoshiarpur                    1676
Jalandhar                     2235
Kapurthala                     754
Ludhiana                      2803
Malerkotla                     276
Mansa                          534
Moga                           839
Muktsar                        244
Nawanshahr                     188
Pathankot                      514
Patiala                       1087
Rupnagar                       814
S.A.S Nagar                      2
S.A.S Nagar(Mohali)            255
SAS Nagar (Mohali)            1186
Sangrur                        857
Shaheed Bhagat Singh Nagar     665
Sri Muktsar Sahib              655
Tarn Taran                    1206
Name: count, dtype: int64

In [10]:
bio_df["district"].value_counts().sort_index()

district
Amritsar                       8459
Barnala                        2394
Bathinda                       4383
Chandigarh                        1
Faridkot                       1935
Fatehgarh Sahib                3547
Fazilka                        2386
Ferozepur                      3472
Firozpur                       3925
Gurdaspur                      7458
Hoshiarpur                    10828
Jalandhar                     14085
Kapurthala                     4823
Ludhiana                      15155
Malerkotla                     1251
Mansa                          2341
Moga                           4789
Muktsar                        2069
Nawanshahr                     4777
Pathankot                      2770
Patiala                        4586
Rupnagar                       4720
S.A.S Nagar(Mohali)            3287
SAS Nagar (Mohali)             5590
Sangrur                        4139
Shaheed Bhagat Singh Nagar     5689
Sri Muktsar Sahib              3289
Tarn Taran                     5961
Name: count, dtype: int64

In [11]:
demo_df["district"].value_counts().sort_index()

district
Amritsar                      3654
Barnala                       1056
Bathinda                      1884
Faridkot                       800
Fatehgarh Sahib               1373
Fazilka                       1069
Ferozepur                     1561
Firozpur                      1545
Gurdaspur                     3277
Hoshiarpur                    4483
Jalandhar                     5688
Kapurthala                    2034
Ludhiana                      6408
Malerkotla                     564
Mansa                         1019
Moga                          2016
Muktsar                        779
Nawanshahr                    1577
Pathankot                     1123
Patiala                       1991
Rupnagar                      1956
S.A.S Nagar(Mohali)           1163
SAS Nagar (Mohali)            2471
Sangrur                       1780
Shaheed Bhagat Singh Nagar    2175
Sri Muktsar Sahib             1391
Tarn Taran                    2463
Name: count, dtype: int64

In [12]:
cleanup_map = {
    "Firozpur":"Ferozepur",
    "Muktsar":"Sri Muktsar Sahib",
    "Nawanshahr":"S.B.S. Nagar",
    "Shaheed Bhagat Singh Nagar":"S.B.S. Nagar",
    "S.A.S Nagar":"S.A.S. Nagar",
    "S.A.S Nagar(Mohali)":"S.A.S. Nagar",
    "SAS Nagar (Mohali)":"S.A.S. Nagar",
}

for df in all_dfs:
    df["district"] = df["district"].replace(cleanup_map)
    
print(enrol_df["district"].nunique(), demo_df["district"].nunique(), bio_df["district"].nunique())

23 23 24

In [13]:
bio_df["district"].value_counts().sort_index()

district
Amritsar              8459
Barnala               2394
Bathinda              4383
Chandigarh               1
Faridkot              1935
Fatehgarh Sahib       3547
Fazilka               2386
Ferozepur             7397
Gurdaspur             7458
Hoshiarpur           10828
Jalandhar            14085
Kapurthala            4823
Ludhiana             15155
Malerkotla            1251
Mansa                 2341
Moga                  4789
Pathankot             2770
Patiala               4586
Rupnagar              4720
S.A.S. Nagar          8877
S.B.S. Nagar         10466
Sangrur               4139
Sri Muktsar Sahib     5358
Tarn Taran            5961
Name: count, dtype: int64

In [14]:
enrol_df["district"] = enrol_df["district"].str.lower()
demo_df["district"] = demo_df["district"].str.lower()
bio_df["district"] = bio_df["district"].str.lower()

In [15]:
print(enrol_df["pincode"].nunique(), demo_df["pincode"].nunique(), bio_df["pincode"].nunique())

522 527 529

In [16]:
# Analyze pincode differences
enrol_pincodes = set(enrol_df["pincode"].dropna())
demo_pincodes = set(demo_df["pincode"].dropna())
bio_pincodes = set(bio_df["pincode"].dropna())

print("Enrollment pincodes:", len(enrol_pincodes))
print("Demographic pincodes:", len(demo_pincodes))
print("Biometric pincodes:", len(bio_pincodes))
print()

# Find differences
only_in_enrol = enrol_pincodes - demo_pincodes - bio_pincodes
only_in_demo = demo_pincodes - enrol_pincodes - bio_pincodes
only_in_bio = bio_pincodes - enrol_pincodes - demo_pincodes
in_all = enrol_pincodes & demo_pincodes & bio_pincodes

print(f"Pincodes only in enrollment: {len(only_in_enrol)}")
print(f"Pincodes only in demographic: {len(only_in_demo)}")
print(f"Pincodes only in biometric: {len(only_in_bio)}")
print(f"Pincodes in all three: {len(in_all)}")
print()

# Check for NULL/NaN values
print("NULL pincodes:")
print(f"Enrollment: {enrol_df["pincode"].isna().sum()}")
print(f"Demographic: {demo_df["pincode"].isna().sum()}")
print(f"Biometric: {bio_df["pincode"].isna().sum()}")
print()

# Show some examples of unique pincodes
print("Sample pincodes only in enrollment:", list(only_in_enrol))
print("Sample pincodes only in demographic:", list(only_in_demo))
print("Sample pincodes only in biometric:", list(only_in_bio))

Enrollment pincodes: 522
Demographic pincodes: 527
Biometric pincodes: 529

Pincodes only in enrollment: 1
Pincodes only in demographic: 1
Pincodes only in biometric: 3
Pincodes in all three: 521

NULL pincodes:
Enrollment: 0
Demographic: 0
Biometric: 0

Sample pincodes only in enrollment: [148017]
Sample pincodes only in demographic: [143007]
Sample pincodes only in biometric: [143010, 144603, 152020]

In [17]:
for df in all_dfs:
    df["month"] = df["date"].dt.month

In [18]:
enrol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24277 entries, 0 to 24276
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            24277 non-null  datetime64[ns]
 1   state           24277 non-null  object
 2   district        24277 non-null  object
 3   pincode         24277 non-null  int64
 4   age_0_5         24277 non-null  int64
 5   age_5_17        24277 non-null  int64
 6   age_18_greater  24277 non-null  int64
 7   month           24277 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(4), object(2)
memory usage: 1.4+ MB

In [19]:
demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57300 entries, 0 to 57299
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           57300 non-null  datetime64[ns]
 1   state          57300 non-null  object
 2   district       57300 non-null  object
 3   pincode        57300 non-null  int64
 4   demo_age_5_17  57300 non-null  int64
 5   demo_age_17_   57300 non-null  int64
 6   month          57300 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(3), object(2)
memory usage: 2.8+ MB

In [20]:
bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138109 entries, 0 to 138108
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          138109 non-null  datetime64[ns]
 1   state         138109 non-null  object
 2   district      138109 non-null  object
 3   pincode       138109 non-null  int64
 4   bio_age_5_17  138109 non-null  int64
 5   bio_age_17_   138109 non-null  int64
 6   month         138109 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(3), object(2)
memory usage: 6.8+ MB

In [21]:
enrol_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,month
0,2025-04-01,Punjab,ludhiana,141007,374,110,25,4
1,2025-04-01,Punjab,ludhiana,141012,52,22,10,4
2,2025-05-01,Punjab,hoshiarpur,146001,197,48,18,5
3,2025-05-01,Punjab,kapurthala,144401,113,40,15,5
4,2025-06-01,Punjab,ludhiana,141007,257,159,17,6

In [22]:
demo_df.head()

        date   state   district  pincode  demo_age_5_17  demo_age_17_  month
0 2025-03-01  Punjab   amritsar   143119             10           197      3
1 2025-03-01  Punjab  jalandhar   144002             59          1046      3
2 2025-03-01  Punjab  jalandhar   144009             36           308      3
3 2025-03-01  Punjab  ferozepur   152022             14           325      3
4 2025-03-01  Punjab   ludhiana   141017             10           133      3

In [23]:
bio_df.head()

        date   state  district  pincode  bio_age_5_17  bio_age_17_  month
0 2025-12-27  Punjab  amritsar   143101             6            8     12
1 2025-12-27  Punjab  amritsar   143107             0           10     12
2 2025-12-27  Punjab  amritsar   143112             5            9     12
3 2025-12-27  Punjab  amritsar   143201             2            2     12
4 2025-12-27  Punjab  amritsar   143413             0            4     12

In [24]:
enrol_agg = enrol_df.groupby(["state", "district", "month"])[["age_0_5", "age_5_17", "age_18_greater"]].sum().reset_index()
demo_agg = demo_df.groupby(["state", "district", "month"])[["demo_age_5_17", "demo_age_17_"]].sum().reset_index()
bio_agg = bio_df.groupby(["state", "district", "month"])[["bio_age_5_17", "bio_age_17_"]].sum().reset_index()

combined_df = enrol_agg.merge(demo_agg, on = ["state", "district", "month"], how = "left").merge(bio_agg, on = ["state", "district", "month"], how = "left")
combined_df.fillna(0, inplace=True)
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143
1,Punjab,amritsar,3,14,15,20,854.0,14026.0,7123,15733
2,Punjab,amritsar,4,959,209,54,380.0,5005.0,6791,12243
3,Punjab,amritsar,5,664,284,26,595.0,7183.0,5766,16481
4,Punjab,amritsar,6,587,210,7,382.0,5277.0,8402,16646

In [25]:
combined_df["E"] = combined_df["age_0_5"] + combined_df["age_5_17"] + combined_df["age_18_greater"]
combined_df["DU"] = combined_df["demo_age_5_17"] + combined_df["demo_age_17_"]
combined_df["BU"] = combined_df["bio_age_5_17"] + combined_df["bio_age_17_"]
combined_df["U"] = combined_df["DU"] + combined_df["BU"]
combined_df["T"] = combined_df["E"] + combined_df["U"]
combined_df.head(20)

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143,175,913.0,1774,2687.0,2862.0
1,Punjab,amritsar,3,14,15,20,854.0,14026.0,7123,15733,49,14880.0,22856,37736.0,37785.0
2,Punjab,amritsar,4,959,209,54,380.0,5005.0,6791,12243,1222,5385.0,19034,24419.0,25641.0
3,Punjab,amritsar,5,664,284,26,595.0,7183.0,5766,16481,974,7778.0,22247,30025.0,30999.0
4,Punjab,amritsar,6,587,210,7,382.0,5277.0,8402,16646,804,5659.0,25048,30707.0,31511.0
5,Punjab,amritsar,7,1293,400,24,786.0,8630.0,5396,11776,1717,9416.0,17172,26588.0,28305.0
6,Punjab,amritsar,9,1862,337,21,696.0,10431.0,8438,14022,2220,11127.0,22460,33587.0,35807.0
7,Punjab,amritsar,10,877,168,14,409.0,7711.0,7911,12388,1059,8120.0,20299,28419.0,29478.0
8,Punjab,amritsar,11,1297,281,40,770.0,14808.0,10149,12891,1618,15578.0,23040,38618.0,40236.0
9,Punjab,amritsar,12,669,95,50,626.0,13804.0,10784,13496,814,14430.0,24280,38710.0,39524.0
10,Punjab,barnala,1,19,8,2,8.0,190.0,107,209,29,198.0,316,514.0,543.0
11,Punjab,barnala,6,105,21,0,0.0,0.0,1819,2755,126,0.0,4574,4574.0,4700.0
12,Punjab,barnala,9,309,32,0,122.0,2016.0,1271,2645,341,2138.0,3916,6054.0,6395.0
13,Punjab,barnala,10,226,13,2,70.0,2025.0,3732,2603,241,2095.0,6335,8430.0,8671.0
14,Punjab,barnala,11,256,25,5,162.0,2783.0,4272,2634,286,2945.0,6906,9851.0,10137.0
15,Punjab,barnala,12,146,10,1,84.0,2428.0,4277,3094,157,2512.0,7371,9883.0,10040.0
16,Punjab,bathinda,1,75,17,0,27.0,490.0,429,770,92,517.0,1199,1716.0,1808.0
17,Punjab,bathinda,6,293,77,4,134.0,1962.0,6545,8718,374,2096.0,15263,17359.0,17733.0
18,Punjab,bathinda,9,952,123,2,383.0,5893.0,3987,11287,1077,6276.0,15274,21550.0,22627.0
19,Punjab,bathinda,10,466,57,1,195.0,4986.0,6201,7810,524,5181.0,14011,19192.0,19716.0

In [26]:
district_monthly_counts = combined_df.groupby(["district", "month"]).agg(total_months = ("month", "count"), active_months = ("T", lambda x : (x > 0).sum())).reset_index()
district_monthly_counts.head()

   district  month  total_months  active_months
0  amritsar      1             1              1
1  amritsar      3             1              1
2  amritsar      4             1              1
3  amritsar      5             1              1
4  amritsar      6             1              1

In [27]:
district_monthly_counts["zero_months"] = district_monthly_counts["total_months"] - district_monthly_counts["active_months"]
district_monthly_counts["activity_ratio"] = district_monthly_counts["active_months"] / district_monthly_counts["total_months"]
district_monthly_counts["zero_month_ratio"] = district_monthly_counts["zero_months"] / district_monthly_counts["total_months"]

combined_df = combined_df.merge(district_monthly_counts[["district", "month", "activity_ratio", "zero_month_ratio"]], on = ["district", "month"], how = "left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143,175,913.0,1774,2687.0,2862.0,1.0,0.0
1,Punjab,amritsar,3,14,15,20,854.0,14026.0,7123,15733,49,14880.0,22856,37736.0,37785.0,1.0,0.0
2,Punjab,amritsar,4,959,209,54,380.0,5005.0,6791,12243,1222,5385.0,19034,24419.0,25641.0,1.0,0.0
3,Punjab,amritsar,5,664,284,26,595.0,7183.0,5766,16481,974,7778.0,22247,30025.0,30999.0,1.0,0.0
4,Punjab,amritsar,6,587,210,7,382.0,5277.0,8402,16646,804,5659.0,25048,30707.0,31511.0,1.0,0.0

In [28]:
combined_df = combined_df.merge(district_monthly_counts[["district", "month", "activity_ratio", "zero_month_ratio"]], on = ["district", "month"], how = "left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143,175,913.0,1774,2687.0,2862.0,1.0,0.0,1.0,0.0
1,Punjab,amritsar,3,14,15,20,854.0,14026.0,7123,15733,49,14880.0,22856,37736.0,37785.0,1.0,0.0,1.0,0.0
2,Punjab,amritsar,4,959,209,54,380.0,5005.0,6791,12243,1222,5385.0,19034,24419.0,25641.0,1.0,0.0,1.0,0.0
3,Punjab,amritsar,5,664,284,26,595.0,7183.0,5766,16481,974,7778.0,22247,30025.0,30999.0,1.0,0.0,1.0,0.0
4,Punjab,amritsar,6,587,210,7,382.0,5277.0,8402,16646,804,5659.0,25048,30707.0,31511.0,1.0,0.0,1.0,0.0

In [29]:
district_volume_metrics = combined_df.groupby(["state", "district"]).agg(avg_monthly_enrolment = ("E", "mean"),
                                               monthly_valatility = ("T", lambda x: x.std(ddof=0) / x.mean() if x.mean() > 0 else 0),
                                               peak_load_ratio = ("T", lambda x: x.max() / x.mean() if x.mean() > 0 else 0)).reset_index()


combined_df = combined_df.merge(district_volume_metrics, on=["state", "district"], how="left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y,avg_monthly_enrolment,monthly_valatility,peak_load_ratio
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143,175,913.0,1774,2687.0,2862.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665
1,Punjab,amritsar,3,14,15,20,854.0,14026.0,7123,15733,49,14880.0,22856,37736.0,37785.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665
2,Punjab,amritsar,4,959,209,54,380.0,5005.0,6791,12243,1222,5385.0,19034,24419.0,25641.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665
3,Punjab,amritsar,5,664,284,26,595.0,7183.0,5766,16481,974,7778.0,22247,30025.0,30999.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665
4,Punjab,amritsar,6,587,210,7,382.0,5277.0,8402,16646,804,5659.0,25048,30707.0,31511.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665

In [30]:
district_update_burden = combined_df.groupby(["state", "district"]).agg(avg_monthly_enrollments = ("E", "sum"), avg_monthly_demo_updates = ("DU", "sum"), avg_monthly_bio_updates = ("BU", "sum")).reset_index()

district_update_burden["U"] = district_update_burden["avg_monthly_demo_updates"] + district_update_burden["avg_monthly_bio_updates"]
district_update_burden["biometric_burden"] = district_update_burden["avg_monthly_bio_updates"] / (district_update_burden["avg_monthly_bio_updates"] + district_update_burden["avg_monthly_demo_updates"])
district_update_burden["update_dominant"] = np.where(district_update_burden["U"] > district_update_burden["avg_monthly_enrollments"], 1, 0)
district_update_burden["enrollment_update_balance"] = district_update_burden["avg_monthly_enrollments"] / (district_update_burden["avg_monthly_enrollments"] + district_update_burden["U"])

combined_df = combined_df.merge(district_update_burden[["state", "district", "biometric_burden", "update_dominant", "enrollment_update_balance"]], on=["state", "district"], how="left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143,175,913.0,1774,2687.0,2862.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665,0.679975,1,0.035254
1,Punjab,amritsar,3,14,15,20,854.0,14026.0,7123,15733,49,14880.0,22856,37736.0,37785.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665,0.679975,1,0.035254
2,Punjab,amritsar,4,959,209,54,380.0,5005.0,6791,12243,1222,5385.0,19034,24419.0,25641.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665,0.679975,1,0.035254
3,Punjab,amritsar,5,664,284,26,595.0,7183.0,5766,16481,974,7778.0,22247,30025.0,30999.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665,0.679975,1,0.035254
4,Punjab,amritsar,6,587,210,7,382.0,5277.0,8402,16646,804,5659.0,25048,30707.0,31511.0,1.0,0.0,1.0,0.0,1065.2,0.339338,1.331665,0.679975,1,0.035254

In [31]:
combined_df.drop(["activity_ratio_y", "zero_month_ratio_y"], axis=1, inplace=True)
combined_df.rename(columns={"activity_ratio_x": "activity_ratio", "zero_month_ratio_x": "zero_month_ratio"}, inplace=True)

In [32]:
combined_df = combined_df.groupby(["state", "district"], as_index = False).first()
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143,175,913.0,1774,2687.0,2862.0,1.0,0.0,1065.200000,0.339338,1.331665,0.679975,1,0.035254
1,Punjab,barnala,1,19,8,2,8.0,190.0,107,209,29,198.0,316,514.0,543.0,1.0,0.0,196.666667,0.501991,1.502297,0.748435,1,0.029146
2,Punjab,bathinda,1,75,17,0,27.0,490.0,429,770,92,517.0,1199,1716.0,1808.0,1.0,0.0,527.000000,0.434376,1.412950,0.749637,1,0.027862
3,Punjab,faridkot,1,24,2,1,4.0,156.0,116,231,27,160.0,347,507.0,534.0,1.0,0.0,189.333333,0.448881,1.424497,0.772806,1,0.026338
4,Punjab,fatehgarh sahib,1,18,3,1,7.0,150.0,112,236,22,157.0,348,505.0,527.0,1.0,0.0,210.333333,0.461799,1.514122,0.781103,1,0.029929

In [33]:
def normalize(x):
    maxx, minx = x.max(), x.min()
    if maxx == minx:
        return x * 0 + 0.5
    normalized = (x - minx) / (maxx - minx)
    return normalized

def inverse_normalize(x):
    inversed = 1 - normalize(x)
    return inversed

In [34]:
combined_df["access"] = (combined_df["activity_ratio"] + normalize(combined_df["avg_monthly_enrolment"])) / 2
combined_df["responsiveness"] = normalize(combined_df["U"] / (combined_df["E"] + combined_df["U"]))
combined_df["inclusion"] = normalize((combined_df["age_0_5"] + combined_df["age_5_17"]) / combined_df["E"])
combined_df["stability"] = (inverse_normalize(combined_df["monthly_valatility"]) + inverse_normalize(combined_df["peak_load_ratio"])) / 2
combined_df["visibility"] = combined_df["activity_ratio"]

combined_df["DEI"] = (combined_df["access"] + combined_df["responsiveness"] + combined_df["inclusion"] + combined_df["stability"] + combined_df["visibility"]) / 5
combined_df["ASS"] = (inverse_normalize(combined_df["activity_ratio"]) + inverse_normalize(combined_df["avg_monthly_enrolment"])) / 2
combined_df["UBS"] = (normalize(combined_df["biometric_burden"]) + normalize(combined_df["update_dominant"])) / 2
combined_df["SRS"] = (normalize(combined_df["monthly_valatility"]) + normalize(combined_df["zero_month_ratio"])) / 2

combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance,access,responsiveness,inclusion,stability,visibility,DEI,ASS,UBS,SRS
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143,175,913.0,1774,2687.0,2862.0,1.0,0.0,1065.200000,0.339338,1.331665,0.679975,1,0.035254,0.756031,0.434029,0.908000,0.884703,1.0,0.796553,0.493969,0.471119,0.250000
1,Punjab,barnala,1,19,8,2,8.0,190.0,107,209,29,198.0,316,514.0,543.0,1.0,0.0,196.666667,0.501991,1.502297,0.748435,1,0.029146,0.508548,0.558878,0.841379,0.261110,1.0,0.633983,0.741452,0.603000,0.679178
2,Punjab,bathinda,1,75,17,0,27.0,490.0,429,770,92,517.0,1199,1716.0,1808.0,1.0,0.0,527.000000,0.434376,1.412950,0.749637,1,0.027862,0.602675,0.599565,1.000000,0.541322,1.0,0.748712,0.647325,0.605316,0.500768
3,Punjab,faridkot,1,24,2,1,4.0,156.0,116,231,27,160.0,347,507.0,534.0,1.0,0.0,189.333333,0.448881,1.424497,0.772806,1,0.026338,0.506459,0.604778,0.914815,0.489890,1.0,0.703188,0.743541,0.649948,0.539041
4,Punjab,fatehgarh sahib,1,18,3,1,7.0,150.0,112,236,22,157.0,348,505.0,527.0,1.0,0.0,210.333333,0.461799,1.514122,0.781103,1,0.029929,0.512443,0.747002,0.895455,0.353686,1.0,0.701717,0.737557,0.665930,0.573128

In [35]:
combined_df.drop(["access", "responsiveness", "inclusion", "stability", "visibility"], axis=1, inplace=True)
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance,DEI,ASS,UBS,SRS
0,Punjab,amritsar,1,143,25,7,48.0,865.0,631,1143,175,913.0,1774,2687.0,2862.0,1.0,0.0,1065.200000,0.339338,1.331665,0.679975,1,0.035254,0.796553,0.493969,0.471119,0.250000
1,Punjab,barnala,1,19,8,2,8.0,190.0,107,209,29,198.0,316,514.0,543.0,1.0,0.0,196.666667,0.501991,1.502297,0.748435,1,0.029146,0.633983,0.741452,0.603000,0.679178
2,Punjab,bathinda,1,75,17,0,27.0,490.0,429,770,92,517.0,1199,1716.0,1808.0,1.0,0.0,527.000000,0.434376,1.412950,0.749637,1,0.027862,0.748712,0.647325,0.605316,0.500768
3,Punjab,faridkot,1,24,2,1,4.0,156.0,116,231,27,160.0,347,507.0,534.0,1.0,0.0,189.333333,0.448881,1.424497,0.772806,1,0.026338,0.703188,0.743541,0.649948,0.539041
4,Punjab,fatehgarh sahib,1,18,3,1,7.0,150.0,112,236,22,157.0,348,505.0,527.0,1.0,0.0,210.333333,0.461799,1.514122,0.781103,1,0.029929,0.701717,0.737557,0.665930,0.573128

In [36]:
combined_df.to_csv(r"D:\UIDAI hackathon\North\Punjab\punjab_district_analysis.csv", index=False)
final_df = combined_df[["state", "district", "DEI", "ASS", "UBS", "SRS"]]
final_df.to_csv(r"D:\UIDAI hackathon\North\Punjab\punjab_district_final_scores.csv", index=False)