In [12]:
import numpy as np
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt

In [13]:
pd.set_option("display.max_rows", 2000)
pd.set_option("display.max_columns", None)

In [14]:
enrol_df = pd.read_csv(r"D:\UIDAI hackathon\East\Madhya Pradesh\enrollment.csv")
demo_df = pd.read_csv(r"D:\UIDAI hackathon\East\Madhya Pradesh\demographic.csv")
bio_df = pd.read_csv(r"D:\UIDAI hackathon\East\Madhya Pradesh\biometric.csv")

In [15]:
all_dfs = [enrol_df, demo_df, bio_df]

In [16]:
enrol_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,01-09-2025,Madhya Pradesh,Agar Malwa,465447,3,0,0
1,01-09-2025,Madhya Pradesh,Alirajpur,457888,7,11,0
2,01-09-2025,Madhya Pradesh,Anuppur,484113,1,0,0
3,01-09-2025,Madhya Pradesh,Anuppur,484440,1,0,0
4,01-09-2025,Madhya Pradesh,Ashok Nagar,473330,19,4,0

In [17]:
enrol_df["date"] = pd.to_datetime(enrol_df["date"], dayfirst=True)
demo_df["date"] = pd.to_datetime(demo_df["date"], dayfirst=True)
bio_df["date"] = pd.to_datetime(bio_df["date"], dayfirst=True)

In [18]:
print(enrol_df["district"].nunique(), demo_df["district"].nunique(), bio_df["district"].nunique())

61 60 60

In [19]:
enrol_df["district"].value_counts().sort_index()

district
Agar Malwa       452
Alirajpur        505
Anuppur          822
Ashok Nagar      526
Ashoknagar         5
Balaghat        1496
Barwani          710
Betul           1411
Bhind           1507
Bhopal          1993
Burhanpur        349
Chhatarpur      1581
Chhindwara      1688
Damoh            914
Datia            693
Dewas           1017
Dhar            1258
Dindori          573
East Nimar       945
Guna            1002
Gwalior         1452
Harda            242
Harda *          252
Hoshangabad      920
Indore          2188
Jabalpur        1679
Jhabua           687
Katni           1082
Khandwa          958
Khargone        1286
Maihar           276
Mandla          1060
Mandsaur        1347
Mauganj          235
Morena           947
Narmadapuram     431
Narsimhapur      581
Narsinghpur     1123
Neemuch          895
Niwari           128
Pandhurna         70
Panna            860
Raisen          1288
Rajgarh         1096
Ratlam           995
Rewa            2162
Sagar           1892
Satna           1888
Sehore          1143
Seoni           1179
Shahdol          922
Shajapur        1333
Sheopur          408
Shivpuri        1300
Sidhi            667
Singrauli        704
Tikamgarh       1273
Ujjain          1687
Umaria           558
Vidisha          910
West Nimar       440
Name: count, dtype: int64

In [20]:
bio_df["district"].value_counts().sort_index()

district
Agar Malwa      1295
Alirajpur       1699
Anuppur         3067
Ashok Nagar     1792
Balaghat        4388
Barwani         1995
Betul           4504
Bhind           4495
Bhopal          7168
Burhanpur       1090
Chhatarpur      4510
Chhindwara      5453
Damoh           2737
Datia           1983
Dewas           3326
Dhar            4251
Dindori         1870
East Nimar      3674
Guna            3578
Gwalior         4271
Harda            675
Harda *         1154
Hoshangabad     3467
Indore          6652
Jabalpur        5478
Jhabua          2270
Katni           3074
Khandwa         3439
Khargone        4083
Maihar          1621
Mandla          3325
Mandsaur        4100
Mauganj         1744
Morena          2720
Narmadapuram    2536
Narsimhapur     2799
Narsinghpur     3455
Neemuch         3040
Niwari          1581
Pandhurna       1200
Panna           2669
Raisen          3801
Rajgarh         3208
Ratlam          2899
Rewa            6463
Sagar           5689
Satna           5674
Sehore          3922
Seoni           3488
Shahdol         3633
Shajapur        4594
Sheopur         1129
Shivpuri        4266
Sidhi           2260
Singrauli       2630
Tikamgarh       3828
Ujjain          4897
Umaria          1683
Vidisha         2688
West Nimar      3169
Name: count, dtype: int64

In [21]:
demo_df["district"].value_counts().sort_index()

district
Agar Malwa       585
Alirajpur        677
Anuppur         1322
Ashok Nagar      753
Balaghat        2063
Barwani          868
Betul           2012
Bhind           2031
Bhopal          3050
Burhanpur        446
Chhatarpur      1984
Chhindwara      2431
Damoh           1229
Datia            934
Dewas           1355
Dhar            1789
Dindori          866
East Nimar      1430
Guna            1453
Gwalior         1900
Harda            314
Harda *          396
Hoshangabad     1286
Indore          2948
Jabalpur        2370
Jhabua           916
Katni           1417
Khandwa         1453
Khargone        1702
Maihar           714
Mandla          1525
Mandsaur        1834
Mauganj          730
Morena          1199
Narmadapuram    1074
Narsimhapur     1077
Narsinghpur     1556
Neemuch         1315
Niwari           584
Pandhurna        476
Panna           1158
Raisen          1700
Rajgarh         1488
Ratlam          1339
Rewa            2880
Sagar           2508
Satna           2520
Sehore          1748
Seoni           1674
Shahdol         1522
Shajapur        2025
Sheopur          522
Shivpuri        1774
Sidhi            954
Singrauli       1170
Tikamgarh       1746
Ujjain          2207
Umaria           712
Vidisha         1239
West Nimar       947
Name: count, dtype: int64

In [22]:
cleanup_map = {
    "Hoshangabad": "Narmadapuram",
    "East Nimar": "Khandwa",
    "West Nimar": "Khargone",
    "Narsimhapur": "Narsinghpur",
    "Ashoknagar": "Ashok Nagar",
    "Harda *": "Harda"
    
}

for df in all_dfs:
    df["district"] = df["district"].replace(cleanup_map)
    
print(enrol_df["district"].nunique(), demo_df["district"].nunique(), bio_df["district"].nunique())

55 55 55

In [23]:
enrol_df["district"] = enrol_df["district"].str.lower()
demo_df["district"] = demo_df["district"].str.lower()
bio_df["district"] = bio_df["district"].str.lower()

In [24]:
print(enrol_df["pincode"].nunique(), demo_df["pincode"].nunique(), bio_df["pincode"].nunique())

788 797 803

In [25]:
# Analyze pincode differences
enrol_pincodes = set(enrol_df["pincode"].dropna())
demo_pincodes = set(demo_df["pincode"].dropna())
bio_pincodes = set(bio_df["pincode"].dropna())

print("Enrollment pincodes:", len(enrol_pincodes))
print("Demographic pincodes:", len(demo_pincodes))
print("Biometric pincodes:", len(bio_pincodes))
print()

# Find differences
only_in_enrol = enrol_pincodes - demo_pincodes - bio_pincodes
only_in_demo = demo_pincodes - enrol_pincodes - bio_pincodes
only_in_bio = bio_pincodes - enrol_pincodes - demo_pincodes
in_all = enrol_pincodes & demo_pincodes & bio_pincodes

print(f"Pincodes only in enrollment: {len(only_in_enrol)}")
print(f"Pincodes only in demographic: {len(only_in_demo)}")
print(f"Pincodes only in biometric: {len(only_in_bio)}")
print(f"Pincodes in all three: {len(in_all)}")
print()

# Check for NULL/NaN values
print("NULL pincodes:")
print(f"Enrollment: {enrol_df["pincode"].isna().sum()}")
print(f"Demographic: {demo_df["pincode"].isna().sum()}")
print(f"Biometric: {bio_df["pincode"].isna().sum()}")
print()

# Show some examples of unique pincodes
print("Sample pincodes only in enrollment:", list(only_in_enrol))
print("Sample pincodes only in demographic:", list(only_in_demo))
print("Sample pincodes only in biometric:", list(only_in_bio))

Enrollment pincodes: 788
Demographic pincodes: 797
Biometric pincodes: 803

Pincodes only in enrollment: 1
Pincodes only in demographic: 1
Pincodes only in biometric: 5
Pincodes in all three: 785

NULL pincodes:
Enrollment: 0
Demographic: 0
Biometric: 0

Sample pincodes only in enrollment: [457119]
Sample pincodes only in demographic: [471516]
Sample pincodes only in biometric: [473993, 483050, 486451, 484664, 462015]

In [26]:
for df in all_dfs:
    df["month"] = df["date"].dt.month

In [27]:
enrol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59991 entries, 0 to 59990
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            59991 non-null  datetime64[ns]
 1   state           59991 non-null  object
 2   district        59991 non-null  object
 3   pincode         59991 non-null  int64
 4   age_0_5         59991 non-null  int64
 5   age_5_17        59991 non-null  int64
 6   age_18_greater  59991 non-null  int64
 7   month           59991 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(4), object(2)
memory usage: 3.4+ MB

In [28]:
demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85897 entries, 0 to 85896
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           85897 non-null  datetime64[ns]
 1   state          85897 non-null  object
 2   district       85897 non-null  object
 3   pincode        85897 non-null  int64
 4   demo_age_5_17  85897 non-null  int64
 5   demo_age_17_   85897 non-null  int64
 6   month          85897 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(3), object(2)
memory usage: 4.3+ MB

In [29]:
bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198149 entries, 0 to 198148
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          198149 non-null  datetime64[ns]
 1   state         198149 non-null  object
 2   district      198149 non-null  object
 3   pincode       198149 non-null  int64
 4   bio_age_5_17  198149 non-null  int64
 5   bio_age_17_   198149 non-null  int64
 6   month         198149 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(3), object(2)
memory usage: 9.8+ MB

In [30]:
enrol_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,month
0,2025-09-01,Madhya Pradesh,agar malwa,465447,3,0,0,9
1,2025-09-01,Madhya Pradesh,alirajpur,457888,7,11,0,9
2,2025-09-01,Madhya Pradesh,anuppur,484113,1,0,0,9
3,2025-09-01,Madhya Pradesh,anuppur,484440,1,0,0,9
4,2025-09-01,Madhya Pradesh,ashok nagar,473330,19,4,0,9

In [31]:
demo_df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_,month
0,2025-03-01,Madhya Pradesh,mandsaur,458883,208,931,3
1,2025-03-01,Madhya Pradesh,datia,475686,96,654,3
2,2025-03-01,Madhya Pradesh,dhar,454010,63,424,3
3,2025-03-01,Madhya Pradesh,bhind,477447,99,704,3
4,2025-03-01,Madhya Pradesh,rajgarh,465680,65,320,3

In [32]:
bio_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_,month
0,2025-11-25,Madhya Pradesh,alirajpur,457661,0,1,11
1,2025-11-25,Madhya Pradesh,ashok nagar,473101,1,0,11
2,2025-11-25,Madhya Pradesh,bhopal,462015,0,1,11
3,2025-11-25,Madhya Pradesh,bhopal,462018,0,3,11
4,2025-11-25,Madhya Pradesh,bhopal,462032,0,1,11

In [33]:
enrol_agg = enrol_df.groupby(["state", "district", "month"])[["age_0_5", "age_5_17", "age_18_greater"]].sum().reset_index()
demo_agg = demo_df.groupby(["state", "district", "month"])[["demo_age_5_17", "demo_age_17_"]].sum().reset_index()
bio_agg = bio_df.groupby(["state", "district", "month"])[["bio_age_5_17", "bio_age_17_"]].sum().reset_index()

combined_df = enrol_agg.merge(demo_agg, on = ["state", "district", "month"], how = "left").merge(bio_agg, on = ["state", "district", "month"], how = "left")
combined_df.fillna(0, inplace=True)
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67
1,Madhya Pradesh,agar malwa,6,170,220,4,150.0,1174.0,2202,3470
2,Madhya Pradesh,agar malwa,9,392,186,5,183.0,1150.0,209,733
3,Madhya Pradesh,agar malwa,10,276,68,0,50.0,543.0,363,911
4,Madhya Pradesh,agar malwa,11,917,91,1,127.0,1699.0,581,2415

In [34]:
combined_df["E"] = combined_df["age_0_5"] + combined_df["age_5_17"] + combined_df["age_18_greater"]
combined_df["DU"] = combined_df["demo_age_5_17"] + combined_df["demo_age_17_"]
combined_df["BU"] = combined_df["bio_age_5_17"] + combined_df["bio_age_17_"]
combined_df["U"] = combined_df["DU"] + combined_df["BU"]
combined_df["T"] = combined_df["E"] + combined_df["U"]
combined_df.head(20)

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67,197,63.0,101,164.0,361.0
1,Madhya Pradesh,agar malwa,6,170,220,4,150.0,1174.0,2202,3470,394,1324.0,5672,6996.0,7390.0
2,Madhya Pradesh,agar malwa,9,392,186,5,183.0,1150.0,209,733,583,1333.0,942,2275.0,2858.0
3,Madhya Pradesh,agar malwa,10,276,68,0,50.0,543.0,363,911,344,593.0,1274,1867.0,2211.0
4,Madhya Pradesh,agar malwa,11,917,91,1,127.0,1699.0,581,2415,1009,1826.0,2996,4822.0,5831.0
5,Madhya Pradesh,agar malwa,12,558,87,23,214.0,2368.0,750,2138,668,2582.0,2888,5470.0,6138.0
6,Madhya Pradesh,alirajpur,1,151,173,6,38.0,176.0,189,202,330,214.0,391,605.0,935.0
7,Madhya Pradesh,alirajpur,4,134,105,15,0.0,0.0,8085,7644,254,0.0,15729,15729.0,15983.0
8,Madhya Pradesh,alirajpur,5,66,42,25,0.0,0.0,13487,9296,133,0.0,22783,22783.0,22916.0
9,Madhya Pradesh,alirajpur,6,505,962,149,0.0,0.0,10941,6986,1616,0.0,17927,17927.0,19543.0
10,Madhya Pradesh,alirajpur,7,498,884,93,0.0,0.0,7684,5461,1475,0.0,13145,13145.0,14620.0
11,Madhya Pradesh,alirajpur,9,481,729,15,509.0,4623.0,1483,1936,1225,5132.0,3419,8551.0,9776.0
12,Madhya Pradesh,alirajpur,10,459,289,0,208.0,2051.0,1841,2580,748,2259.0,4421,6680.0,7428.0
13,Madhya Pradesh,alirajpur,11,611,417,24,314.0,3018.0,2502,3547,1052,3332.0,6049,9381.0,10433.0
14,Madhya Pradesh,alirajpur,12,497,262,113,422.0,3737.0,2747,4463,872,4159.0,7210,11369.0,12241.0
15,Madhya Pradesh,anuppur,1,174,29,0,21.0,151.0,199,407,203,172.0,606,778.0,981.0
16,Madhya Pradesh,anuppur,6,285,161,2,812.0,2606.0,12019,14435,448,3418.0,26454,29872.0,30320.0
17,Madhya Pradesh,anuppur,9,542,117,0,398.0,2764.0,1167,2547,659,3162.0,3714,6876.0,7535.0
18,Madhya Pradesh,anuppur,10,516,65,6,256.0,1612.0,1173,1985,587,1868.0,3158,5026.0,5613.0
19,Madhya Pradesh,anuppur,11,1065,86,12,379.0,3151.0,2198,4770,1163,3530.0,6968,10498.0,11661.0

In [35]:
district_monthly_counts = combined_df.groupby(["district", "month"]).agg(total_months = ("month", "count"), active_months = ("T", lambda x : (x > 0).sum())).reset_index()
district_monthly_counts.head()

     district  month  total_months  active_months
0  agar malwa      1             1              1
1  agar malwa      6             1              1
2  agar malwa      9             1              1
3  agar malwa     10             1              1
4  agar malwa     11             1              1

In [36]:
district_monthly_counts["zero_months"] = district_monthly_counts["total_months"] - district_monthly_counts["active_months"]
district_monthly_counts["activity_ratio"] = district_monthly_counts["active_months"] / district_monthly_counts["total_months"]
district_monthly_counts["zero_month_ratio"] = district_monthly_counts["zero_months"] / district_monthly_counts["total_months"]

combined_df = combined_df.merge(district_monthly_counts[["district", "month", "activity_ratio", "zero_month_ratio"]], on = ["district", "month"], how = "left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67,197,63.0,101,164.0,361.0,1.0,0.0
1,Madhya Pradesh,agar malwa,6,170,220,4,150.0,1174.0,2202,3470,394,1324.0,5672,6996.0,7390.0,1.0,0.0
2,Madhya Pradesh,agar malwa,9,392,186,5,183.0,1150.0,209,733,583,1333.0,942,2275.0,2858.0,1.0,0.0
3,Madhya Pradesh,agar malwa,10,276,68,0,50.0,543.0,363,911,344,593.0,1274,1867.0,2211.0,1.0,0.0
4,Madhya Pradesh,agar malwa,11,917,91,1,127.0,1699.0,581,2415,1009,1826.0,2996,4822.0,5831.0,1.0,0.0

In [37]:
combined_df = combined_df.merge(district_monthly_counts[["district", "month", "activity_ratio", "zero_month_ratio"]], on = ["district", "month"], how = "left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67,197,63.0,101,164.0,361.0,1.0,0.0,1.0,0.0
1,Madhya Pradesh,agar malwa,6,170,220,4,150.0,1174.0,2202,3470,394,1324.0,5672,6996.0,7390.0,1.0,0.0,1.0,0.0
2,Madhya Pradesh,agar malwa,9,392,186,5,183.0,1150.0,209,733,583,1333.0,942,2275.0,2858.0,1.0,0.0,1.0,0.0
3,Madhya Pradesh,agar malwa,10,276,68,0,50.0,543.0,363,911,344,593.0,1274,1867.0,2211.0,1.0,0.0,1.0,0.0
4,Madhya Pradesh,agar malwa,11,917,91,1,127.0,1699.0,581,2415,1009,1826.0,2996,4822.0,5831.0,1.0,0.0,1.0,0.0

In [38]:
district_volume_metrics = combined_df.groupby(["state", "district"]).agg(avg_monthly_enrolment = ("E", "mean"),
                                               monthly_valatility = ("T", lambda x: x.std(ddof=0) / x.mean() if x.mean() > 0 else 0),
                                               peak_load_ratio = ("T", lambda x: x.max() / x.mean() if x.mean() > 0 else 0)).reset_index()


combined_df = combined_df.merge(district_volume_metrics, on=["state", "district"], how="left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y,avg_monthly_enrolment,monthly_valatility,peak_load_ratio
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67,197,63.0,101,164.0,361.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697
1,Madhya Pradesh,agar malwa,6,170,220,4,150.0,1174.0,2202,3470,394,1324.0,5672,6996.0,7390.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697
2,Madhya Pradesh,agar malwa,9,392,186,5,183.0,1150.0,209,733,583,1333.0,942,2275.0,2858.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697
3,Madhya Pradesh,agar malwa,10,276,68,0,50.0,543.0,363,911,344,593.0,1274,1867.0,2211.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697
4,Madhya Pradesh,agar malwa,11,917,91,1,127.0,1699.0,581,2415,1009,1826.0,2996,4822.0,5831.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697

In [39]:
district_update_burden = combined_df.groupby(["state", "district"]).agg(avg_monthly_enrollments = ("E", "sum"), avg_monthly_demo_updates = ("DU", "sum"), avg_monthly_bio_updates = ("BU", "sum")).reset_index()

district_update_burden["U"] = district_update_burden["avg_monthly_demo_updates"] + district_update_burden["avg_monthly_bio_updates"]
district_update_burden["biometric_burden"] = district_update_burden["avg_monthly_bio_updates"] / (district_update_burden["avg_monthly_bio_updates"] + district_update_burden["avg_monthly_demo_updates"])
district_update_burden["update_dominant"] = np.where(district_update_burden["U"] > district_update_burden["avg_monthly_enrollments"], 1, 0)
district_update_burden["enrollment_update_balance"] = district_update_burden["avg_monthly_enrollments"] / (district_update_burden["avg_monthly_enrollments"] + district_update_burden["U"])

combined_df = combined_df.merge(district_update_burden[["state", "district", "biometric_burden", "update_dominant", "enrollment_update_balance"]], on=["state", "district"], how="left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67,197,63.0,101,164.0,361.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697,0.642447,1,0.128888
1,Madhya Pradesh,agar malwa,6,170,220,4,150.0,1174.0,2202,3470,394,1324.0,5672,6996.0,7390.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697,0.642447,1,0.128888
2,Madhya Pradesh,agar malwa,9,392,186,5,183.0,1150.0,209,733,583,1333.0,942,2275.0,2858.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697,0.642447,1,0.128888
3,Madhya Pradesh,agar malwa,10,276,68,0,50.0,543.0,363,911,344,593.0,1274,1867.0,2211.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697,0.642447,1,0.128888
4,Madhya Pradesh,agar malwa,11,917,91,1,127.0,1699.0,581,2415,1009,1826.0,2996,4822.0,5831.0,1.0,0.0,1.0,0.0,532.5,0.601538,1.788697,0.642447,1,0.128888

In [40]:
combined_df.drop(["activity_ratio_y", "zero_month_ratio_y"], axis=1, inplace=True)
combined_df.rename(columns={"activity_ratio_x": "activity_ratio", "zero_month_ratio_x": "zero_month_ratio"}, inplace=True)

In [41]:
combined_df = combined_df.groupby(["state", "district"], as_index = False).first()
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67,197,63.0,101,164.0,361.0,1.0,0.0,532.500000,0.601538,1.788697,0.642447,1,0.128888
1,Madhya Pradesh,alirajpur,1,151,173,6,38.0,176.0,189,202,330,214.0,391,605.0,935.0,1.0,0.0,856.111111,0.489860,1.811144,0.857813,1,0.067662
2,Madhya Pradesh,anuppur,1,174,29,0,21.0,151.0,199,407,203,172.0,606,778.0,981.0,1.0,0.0,658.500000,0.795542,2.584385,0.751524,1,0.056129
3,Madhya Pradesh,ashok nagar,1,119,56,2,35.0,201.0,245,335,177,236.0,580,816.0,993.0,1.0,0.0,1017.222222,0.563207,1.928774,0.741210,1,0.068647
4,Madhya Pradesh,balaghat,1,446,48,10,55.0,359.0,826,513,504,414.0,1339,1753.0,2257.0,1.0,0.0,1228.285714,0.605578,1.975705,0.669207,1,0.050936

In [42]:
def normalize(x):
    maxx, minx = x.max(), x.min()
    if maxx == minx:
        return x * 0 + 0.5
    normalized = (x - minx) / (maxx - minx)
    return normalized

def inverse_normalize(x):
    inversed = 1 - normalize(x)
    return inversed

In [43]:
combined_df["access"] = (combined_df["activity_ratio"] + normalize(combined_df["avg_monthly_enrolment"])) / 2
combined_df["responsiveness"] = normalize(combined_df["U"] / (combined_df["E"] + combined_df["U"]))
combined_df["inclusion"] = normalize((combined_df["age_0_5"] + combined_df["age_5_17"]) / combined_df["E"])
combined_df["stability"] = (inverse_normalize(combined_df["monthly_valatility"]) + inverse_normalize(combined_df["peak_load_ratio"])) / 2
combined_df["visibility"] = combined_df["activity_ratio"]

combined_df["DEI"] = (combined_df["access"] + combined_df["responsiveness"] + combined_df["inclusion"] + combined_df["stability"] + combined_df["visibility"]) / 5
combined_df["ASS"] = (inverse_normalize(combined_df["activity_ratio"]) + inverse_normalize(combined_df["avg_monthly_enrolment"])) / 2
combined_df["UBS"] = (normalize(combined_df["biometric_burden"]) + normalize(combined_df["update_dominant"])) / 2
combined_df["SRS"] = (normalize(combined_df["monthly_valatility"]) + normalize(combined_df["zero_month_ratio"])) / 2

combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance,access,responsiveness,inclusion,stability,visibility,DEI,ASS,UBS,SRS
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67,197,63.0,101,164.0,361.0,1.0,0.0,532.500000,0.601538,1.788697,0.642447,1,0.128888,0.589344,0.000000,0.946701,0.663599,1.0,0.639929,0.660656,0.472448,0.444140
1,Madhya Pradesh,alirajpur,1,151,173,6,38.0,176.0,189,202,330,214.0,391,605.0,935.0,1.0,0.0,856.111111,0.489860,1.811144,0.857813,1,0.067662,0.645539,0.486895,0.809091,0.768825,1.0,0.742070,0.604461,0.731379,0.331529
2,Madhya Pradesh,anuppur,1,174,29,0,21.0,151.0,199,407,203,172.0,606,778.0,981.0,1.0,0.0,658.500000,0.795542,2.584385,0.751524,1,0.056129,0.611224,0.855693,1.000000,0.206191,1.0,0.734621,0.638776,0.603589,0.639764
3,Madhya Pradesh,ashok nagar,1,119,56,2,35.0,201.0,245,335,177,236.0,580,816.0,993.0,1.0,0.0,1017.222222,0.563207,1.928774,0.741210,1,0.068647,0.673516,0.928144,0.881356,0.656164,1.0,0.827836,0.576484,0.591190,0.405488
4,Madhya Pradesh,balaghat,1,446,48,10,55.0,359.0,826,513,504,414.0,1339,1753.0,2257.0,1.0,0.0,1228.285714,0.605578,1.975705,0.669207,1,0.050936,0.710168,0.814335,0.791667,0.597998,1.0,0.782834,0.539832,0.504621,0.448214

In [44]:
combined_df.drop(["access", "responsiveness", "inclusion", "stability", "visibility"], axis=1, inplace=True)
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance,DEI,ASS,UBS,SRS
0,Madhya Pradesh,agar malwa,1,143,53,1,8.0,55.0,34,67,197,63.0,101,164.0,361.0,1.0,0.0,532.500000,0.601538,1.788697,0.642447,1,0.128888,0.639929,0.660656,0.472448,0.444140
1,Madhya Pradesh,alirajpur,1,151,173,6,38.0,176.0,189,202,330,214.0,391,605.0,935.0,1.0,0.0,856.111111,0.489860,1.811144,0.857813,1,0.067662,0.742070,0.604461,0.731379,0.331529
2,Madhya Pradesh,anuppur,1,174,29,0,21.0,151.0,199,407,203,172.0,606,778.0,981.0,1.0,0.0,658.500000,0.795542,2.584385,0.751524,1,0.056129,0.734621,0.638776,0.603589,0.639764
3,Madhya Pradesh,ashok nagar,1,119,56,2,35.0,201.0,245,335,177,236.0,580,816.0,993.0,1.0,0.0,1017.222222,0.563207,1.928774,0.741210,1,0.068647,0.827836,0.576484,0.591190,0.405488
4,Madhya Pradesh,balaghat,1,446,48,10,55.0,359.0,826,513,504,414.0,1339,1753.0,2257.0,1.0,0.0,1228.285714,0.605578,1.975705,0.669207,1,0.050936,0.782834,0.539832,0.504621,0.448214

In [45]:
combined_df.to_csv(r"D:\UIDAI hackathon\East\Madhya Pradesh\madhya_pradesh_district_analysis.csv", index=False)
final_df = combined_df[["state", "district", "DEI", "ASS", "UBS", "SRS"]]
final_df.to_csv(r"D:\UIDAI hackathon\East\Madhya Pradesh\madhya_pradesh_district_final_scores.csv", index=False)