In [ ]:
import numpy as np
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt

In [15]:
pd.set_option("display.max_rows", 2000)
pd.set_option("display.max_columns", None)

In [ ]:
enrol_df = pd.read_csv(r"D:\UIDAI hackathon\North\Haryana\enrollment.csv")
demo_df = pd.read_csv(r"D:\UIDAI hackathon\North\Haryana\demographic.csv")
bio_df = pd.read_csv(r"D:\UIDAI hackathon\North\Haryana\biometric.csv")

In [17]:
all_dfs = [enrol_df, demo_df, bio_df]

In [18]:
enrol_df.head()

         date    state district  pincode  age_0_5  age_5_17  age_18_greater
0  01-09-2025  Haryana  Bhiwani   127021       10         1               0
1  01-09-2025  Haryana  Bhiwani   127022        2         0               0
2  01-09-2025  Haryana  Bhiwani   127040        5         0               0
3  01-09-2025  Haryana  Bhiwani   127201        1         1               0
4  01-09-2025  Haryana  Bhiwani   127308        1         0               0

In [19]:
enrol_df["date"] = pd.to_datetime(enrol_df["date"], dayfirst=True)
demo_df["date"] = pd.to_datetime(demo_df["date"], dayfirst=True)
bio_df["date"] = pd.to_datetime(bio_df["date"], dayfirst=True)

In [20]:
print(enrol_df["district"].nunique(), demo_df["district"].nunique(), bio_df["district"].nunique())

26 23 26

In [21]:
enrol_df["district"].value_counts().sort_index()

district
Ambala            902
Bhiwani          1308
Charkhi Dadri     467
Faridabad         939
Fatehabad         656
Gurgaon          1503
Gurugram            7
Hisar            1055
Jhajjar           935
Jhajjar *           1
Jind              772
Kaithal           703
Karnal            963
Kurukshetra       742
Mahendragarh      584
Mewat             496
Nuh                 2
Palwal            476
Panchkula         692
Panipat           690
Rewari            799
Rohtak            853
Sirsa             873
Sonipat          1279
Yamuna Nagar      865
Yamunanagar        46
Name: count, dtype: int64

In [22]:
bio_df["district"].value_counts().sort_index()

district
Akhera              2
Ambala           4299
Bhiwani          5591
Charkhi Dadri    2589
Faridabad        3451
Fatehabad        2479
Gurgaon          6299
Hathin              2
Hisar            4013
Jhajjar          4210
Jhajjar *           1
Jind             2558
Kaithal          2379
Karnal           3257
Kurukshetra      2661
Mahendragarh     1825
Mewat            1393
Palwal           1390
Panchkula        3858
Panipat          2826
Rewari           3452
Rohtak           3547
Sirsa            3051
Sonipat          4636
Yamuna Nagar     3084
Yamunanagar       618
Name: count, dtype: int64

In [23]:
demo_df["district"].value_counts().sort_index()

district
Ambala           1810
Bhiwani          2446
Charkhi Dadri    1098
Faridabad        1510
Fatehabad        1091
Gurgaon          2817
Hisar            1823
Jhajjar          1721
Jind             1100
Kaithal          1111
Karnal           1457
Kurukshetra      1189
Mahendragarh      783
Mewat             617
Palwal            667
Panchkula        1711
Panipat          1204
Rewari           1537
Rohtak           1509
Sirsa            1393
Sonipat          2054
Yamuna Nagar     1377
Yamunanagar       190
Name: count, dtype: int64

In [24]:
bio_df[bio_df["district"] == "Hathin"]

            date    state district  pincode  bio_age_5_17  bio_age_17_
18541 2025-07-13  Haryana   Hathin   121103             0            1
48200 2025-07-13  Haryana   Hathin   121103             0            1

In [25]:
cleanup_map = {
    "Gurgaon": "Gurugram",
    "Mewat": "Nuh",
    "Yamuna Nagar": "Yamunanagar",
    "Jhajjar *": "Jhajjar",
    "Akhera":"Nuh",
    "Hathin":"Palwal"
}

for df in all_dfs:
    df["district"] = df["district"].replace(cleanup_map)
    
print(enrol_df["district"].nunique(), demo_df["district"].nunique(), bio_df["district"].nunique())

22 22 22

In [26]:
enrol_df["district"] = enrol_df["district"].str.lower()
demo_df["district"] = demo_df["district"].str.lower()
bio_df["district"] = bio_df["district"].str.lower()

In [27]:
print(enrol_df["pincode"].nunique(), demo_df["pincode"].nunique(), bio_df["pincode"].nunique())

302 306 310

In [28]:
# Analyze pincode differences
enrol_pincodes = set(enrol_df["pincode"].dropna())
demo_pincodes = set(demo_df["pincode"].dropna())
bio_pincodes = set(bio_df["pincode"].dropna())

print("Enrollment pincodes:", len(enrol_pincodes))
print("Demographic pincodes:", len(demo_pincodes))
print("Biometric pincodes:", len(bio_pincodes))
print()

# Find differences
only_in_enrol = enrol_pincodes - demo_pincodes - bio_pincodes
only_in_demo = demo_pincodes - enrol_pincodes - bio_pincodes
only_in_bio = bio_pincodes - enrol_pincodes - demo_pincodes
in_all = enrol_pincodes & demo_pincodes & bio_pincodes

print(f"Pincodes only in enrollment: {len(only_in_enrol)}")
print(f"Pincodes only in demographic: {len(only_in_demo)}")
print(f"Pincodes only in biometric: {len(only_in_bio)}")
print(f"Pincodes in all three: {len(in_all)}")
print()

# Check for NULL/NaN values
print("NULL pincodes:")
print(f"Enrollment: {enrol_df["pincode"].isna().sum()}")
print(f"Demographic: {demo_df["pincode"].isna().sum()}")
print(f"Biometric: {bio_df["pincode"].isna().sum()}")
print()

# Show some examples of unique pincodes
print("Sample pincodes only in enrollment:", list(only_in_enrol))
print("Sample pincodes only in demographic:", list(only_in_demo))
print("Sample pincodes only in biometric:", list(only_in_bio))

Enrollment pincodes: 302
Demographic pincodes: 306
Biometric pincodes: 310

Pincodes only in enrollment: 0
Pincodes only in demographic: 0
Pincodes only in biometric: 4
Pincodes in all three: 302

NULL pincodes:
Enrollment: 0
Demographic: 0
Biometric: 0

Sample pincodes only in enrollment: []
Sample pincodes only in demographic: []
Sample pincodes only in biometric: [122050, 125011, 127020, 131407]

In [29]:
for df in all_dfs:
    df["month"] = df["date"].dt.month

In [30]:
enrol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18608 entries, 0 to 18607
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            18608 non-null  datetime64[ns]
 1   state           18608 non-null  object
 2   district        18608 non-null  object
 3   pincode         18608 non-null  int64
 4   age_0_5         18608 non-null  int64
 5   age_5_17        18608 non-null  int64
 6   age_18_greater  18608 non-null  int64
 7   month           18608 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(4), object(2)
memory usage: 1.1+ MB

In [31]:
demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32215 entries, 0 to 32214
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           32215 non-null  datetime64[ns]
 1   state          32215 non-null  object
 2   district       32215 non-null  object
 3   pincode        32215 non-null  int64
 4   demo_age_5_17  32215 non-null  int64
 5   demo_age_17_   32215 non-null  int64
 6   month          32215 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(3), object(2)
memory usage: 1.6+ MB

In [32]:
bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73471 entries, 0 to 73470
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          73471 non-null  datetime64[ns]
 1   state         73471 non-null  object
 2   district      73471 non-null  object
 3   pincode       73471 non-null  int64
 4   bio_age_5_17  73471 non-null  int64
 5   bio_age_17_   73471 non-null  int64
 6   month         73471 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(3), object(2)
memory usage: 3.6+ MB

In [33]:
enrol_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,month
0,2025-09-01,Haryana,bhiwani,127021,10,1,0,9
1,2025-09-01,Haryana,bhiwani,127022,2,0,0,9
2,2025-09-01,Haryana,bhiwani,127040,5,0,0,9
3,2025-09-01,Haryana,bhiwani,127201,1,1,0,9
4,2025-09-01,Haryana,bhiwani,127308,1,0,0,9

In [34]:
demo_df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_,month
0,2025-03-01,Haryana,yamunanagar,135021,14,180,3
1,2025-03-01,Haryana,sonipat,131408,10,122,3
2,2025-03-01,Haryana,panchkula,134114,13,110,3
3,2025-03-01,Haryana,mahendragarh,123001,116,1227,3
4,2025-03-01,Haryana,bhiwani,127031,28,169,3

In [35]:
bio_df.head()

        date    state district  pincode  bio_age_5_17  bio_age_17_  month
0 2025-03-01  Haryana  jhajjar   124104            94          125      3
1 2025-03-01  Haryana   rewari   123101            96          155      3
2 2025-03-01  Haryana    sirsa   125077           163          288      3
3 2025-03-01  Haryana    hisar   125113           289          340      3
4 2025-03-01  Haryana  sonipat   131402           220          560      3

In [36]:
enrol_agg = enrol_df.groupby(["state", "district", "month"])[["age_0_5", "age_5_17", "age_18_greater"]].sum().reset_index()
demo_agg = demo_df.groupby(["state", "district", "month"])[["demo_age_5_17", "demo_age_17_"]].sum().reset_index()
bio_agg = bio_df.groupby(["state", "district", "month"])[["bio_age_5_17", "bio_age_17_"]].sum().reset_index()

combined_df = enrol_agg.merge(demo_agg, on = ["state", "district", "month"], how = "left").merge(bio_agg, on = ["state", "district", "month"], how = "left")
combined_df.fillna(0, inplace=True)
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000
1,Haryana,ambala,6,484,44,14,508.0,3511.0,3688,8363
2,Haryana,ambala,9,699,40,1,432.0,3188.0,3834,6209
3,Haryana,ambala,10,626,21,8,243.0,2469.0,1548,3697
4,Haryana,ambala,11,854,28,7,651.0,6015.0,2254,4730

In [37]:
combined_df["E"] = combined_df["age_0_5"] + combined_df["age_5_17"] + combined_df["age_18_greater"]
combined_df["DU"] = combined_df["demo_age_5_17"] + combined_df["demo_age_17_"]
combined_df["BU"] = combined_df["bio_age_5_17"] + combined_df["bio_age_17_"]
combined_df["U"] = combined_df["DU"] + combined_df["BU"]
combined_df["T"] = combined_df["E"] + combined_df["U"]
combined_df.head(20)

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000,117,337.0,1598,1935.0,2052.0
1,Haryana,ambala,6,484,44,14,508.0,3511.0,3688,8363,542,4019.0,12051,16070.0,16612.0
2,Haryana,ambala,9,699,40,1,432.0,3188.0,3834,6209,740,3620.0,10043,13663.0,14403.0
3,Haryana,ambala,10,626,21,8,243.0,2469.0,1548,3697,655,2712.0,5245,7957.0,8612.0
4,Haryana,ambala,11,854,28,7,651.0,6015.0,2254,4730,889,6666.0,6984,13650.0,14539.0
5,Haryana,ambala,12,551,8,4,504.0,5137.0,2854,5304,563,5641.0,8158,13799.0,14362.0
6,Haryana,bhiwani,1,171,9,0,39.0,536.0,658,755,180,575.0,1413,1988.0,2168.0
7,Haryana,bhiwani,6,370,38,2,128.0,1128.0,4365,11554,410,1256.0,15919,17175.0,17585.0
8,Haryana,bhiwani,9,937,55,2,501.0,3185.0,4869,7018,994,3686.0,11887,15573.0,16567.0
9,Haryana,bhiwani,10,721,34,7,349.0,3244.0,2403,4093,762,3593.0,6496,10089.0,10851.0
10,Haryana,bhiwani,11,840,33,6,628.0,5353.0,2843,4218,879,5981.0,7061,13042.0,13921.0
11,Haryana,bhiwani,12,710,34,0,626.0,5860.0,4750,6032,744,6486.0,10782,17268.0,18012.0
12,Haryana,charkhi dadri,1,40,3,0,34.0,205.0,55,83,43,239.0,138,377.0,420.0
13,Haryana,charkhi dadri,6,83,6,0,116.0,729.0,402,2058,89,845.0,2460,3305.0,3394.0
14,Haryana,charkhi dadri,9,253,2,0,237.0,1174.0,472,1324,255,1411.0,1796,3207.0,3462.0
15,Haryana,charkhi dadri,10,150,7,0,181.0,969.0,350,921,157,1150.0,1271,2421.0,2578.0
16,Haryana,charkhi dadri,11,267,5,0,287.0,2192.0,389,806,272,2479.0,1195,3674.0,3946.0
17,Haryana,charkhi dadri,12,131,5,0,269.0,2158.0,502,1046,136,2427.0,1548,3975.0,4111.0
18,Haryana,faridabad,1,354,79,7,107.0,969.0,903,847,440,1076.0,1750,2826.0,3266.0
19,Haryana,faridabad,3,80,60,10,2969.0,23722.0,6630,9253,150,26691.0,15883,42574.0,42724.0

In [38]:
district_monthly_counts = combined_df.groupby(["district", "month"]).agg(total_months = ("month", "count"), active_months = ("T", lambda x : (x > 0).sum())).reset_index()
district_monthly_counts.head()

  district  month  total_months  active_months
0   ambala      1             1              1
1   ambala      6             1              1
2   ambala      9             1              1
3   ambala     10             1              1
4   ambala     11             1              1

In [39]:
district_monthly_counts["zero_months"] = district_monthly_counts["total_months"] - district_monthly_counts["active_months"]
district_monthly_counts["activity_ratio"] = district_monthly_counts["active_months"] / district_monthly_counts["total_months"]
district_monthly_counts["zero_month_ratio"] = district_monthly_counts["zero_months"] / district_monthly_counts["total_months"]

combined_df = combined_df.merge(district_monthly_counts[["district", "month", "activity_ratio", "zero_month_ratio"]], on = ["district", "month"], how = "left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000,117,337.0,1598,1935.0,2052.0,1.0,0.0
1,Haryana,ambala,6,484,44,14,508.0,3511.0,3688,8363,542,4019.0,12051,16070.0,16612.0,1.0,0.0
2,Haryana,ambala,9,699,40,1,432.0,3188.0,3834,6209,740,3620.0,10043,13663.0,14403.0,1.0,0.0
3,Haryana,ambala,10,626,21,8,243.0,2469.0,1548,3697,655,2712.0,5245,7957.0,8612.0,1.0,0.0
4,Haryana,ambala,11,854,28,7,651.0,6015.0,2254,4730,889,6666.0,6984,13650.0,14539.0,1.0,0.0

In [40]:
combined_df = combined_df.merge(district_monthly_counts[["district", "month", "activity_ratio", "zero_month_ratio"]], on = ["district", "month"], how = "left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000,117,337.0,1598,1935.0,2052.0,1.0,0.0,1.0,0.0
1,Haryana,ambala,6,484,44,14,508.0,3511.0,3688,8363,542,4019.0,12051,16070.0,16612.0,1.0,0.0,1.0,0.0
2,Haryana,ambala,9,699,40,1,432.0,3188.0,3834,6209,740,3620.0,10043,13663.0,14403.0,1.0,0.0,1.0,0.0
3,Haryana,ambala,10,626,21,8,243.0,2469.0,1548,3697,655,2712.0,5245,7957.0,8612.0,1.0,0.0,1.0,0.0
4,Haryana,ambala,11,854,28,7,651.0,6015.0,2254,4730,889,6666.0,6984,13650.0,14539.0,1.0,0.0,1.0,0.0

In [41]:
district_volume_metrics = combined_df.groupby(["state", "district"]).agg(avg_monthly_enrolment = ("E", "mean"),
                                               monthly_valatility = ("T", lambda x: x.std(ddof=0) / x.mean() if x.mean() > 0 else 0),
                                               peak_load_ratio = ("T", lambda x: x.max() / x.mean() if x.mean() > 0 else 0)).reset_index()


combined_df = combined_df.merge(district_volume_metrics, on=["state", "district"], how="left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y,avg_monthly_enrolment,monthly_valatility,peak_load_ratio
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000,117,337.0,1598,1935.0,2052.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185
1,Haryana,ambala,6,484,44,14,508.0,3511.0,3688,8363,542,4019.0,12051,16070.0,16612.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185
2,Haryana,ambala,9,699,40,1,432.0,3188.0,3834,6209,740,3620.0,10043,13663.0,14403.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185
3,Haryana,ambala,10,626,21,8,243.0,2469.0,1548,3697,655,2712.0,5245,7957.0,8612.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185
4,Haryana,ambala,11,854,28,7,651.0,6015.0,2254,4730,889,6666.0,6984,13650.0,14539.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185

In [42]:
district_update_burden = combined_df.groupby(["state", "district"]).agg(avg_monthly_enrollments = ("E", "sum"), avg_monthly_demo_updates = ("DU", "sum"), avg_monthly_bio_updates = ("BU", "sum")).reset_index()

district_update_burden["U"] = district_update_burden["avg_monthly_demo_updates"] + district_update_burden["avg_monthly_bio_updates"]
district_update_burden["biometric_burden"] = district_update_burden["avg_monthly_bio_updates"] / (district_update_burden["avg_monthly_bio_updates"] + district_update_burden["avg_monthly_demo_updates"])
district_update_burden["update_dominant"] = np.where(district_update_burden["U"] > district_update_burden["avg_monthly_enrollments"], 1, 0)
district_update_burden["enrollment_update_balance"] = district_update_burden["avg_monthly_enrollments"] / (district_update_burden["avg_monthly_enrollments"] + district_update_burden["U"])

combined_df = combined_df.merge(district_update_burden[["state", "district", "biometric_burden", "update_dominant", "enrollment_update_balance"]], on=["state", "district"], how="left")
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio_x,zero_month_ratio_x,activity_ratio_y,zero_month_ratio_y,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000,117,337.0,1598,1935.0,2052.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185,0.65717,1,0.049674
1,Haryana,ambala,6,484,44,14,508.0,3511.0,3688,8363,542,4019.0,12051,16070.0,16612.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185,0.65717,1,0.049674
2,Haryana,ambala,9,699,40,1,432.0,3188.0,3834,6209,740,3620.0,10043,13663.0,14403.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185,0.65717,1,0.049674
3,Haryana,ambala,10,626,21,8,243.0,2469.0,1548,3697,655,2712.0,5245,7957.0,8612.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185,0.65717,1,0.049674
4,Haryana,ambala,11,854,28,7,651.0,6015.0,2254,4730,889,6666.0,6984,13650.0,14539.0,1.0,0.0,1.0,0.0,584.333333,0.42388,1.412185,0.65717,1,0.049674

In [43]:
combined_df.drop(["activity_ratio_y", "zero_month_ratio_y"], axis=1, inplace=True)
combined_df.rename(columns={"activity_ratio_x": "activity_ratio", "zero_month_ratio_x": "zero_month_ratio"}, inplace=True)

In [44]:
combined_df = combined_df.groupby(["state", "district"], as_index = False).first()
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000,117,337.0,1598,1935.0,2052.0,1.0,0.0,584.333333,0.423880,1.412185,0.657170,1,0.049674
1,Haryana,bhiwani,1,171,9,0,39.0,536.0,658,755,180,575.0,1413,1988.0,2168.0,1.0,0.0,661.500000,0.417128,1.366201,0.712824,1,0.050174
2,Haryana,charkhi dadri,1,40,3,0,34.0,205.0,55,83,43,239.0,138,377.0,420.0,1.0,0.0,158.666667,0.417755,1.377143,0.495784,1,0.053152
3,Haryana,faridabad,1,354,79,7,107.0,969.0,903,847,440,1076.0,1750,2826.0,3266.0,1.0,0.0,1729.900000,0.396686,1.472741,0.473100,1,0.051164
4,Haryana,fatehabad,1,134,10,0,44.0,396.0,331,746,144,440.0,1077,1517.0,1661.0,1.0,0.0,496.833333,0.440351,1.405159,0.635891,1,0.046185

In [45]:
def normalize(x):
    maxx, minx = x.max(), x.min()
    if maxx == minx:
        return x * 0 + 0.5
    normalized = (x - minx) / (maxx - minx)
    return normalized

def inverse_normalize(x):
    inversed = 1 - normalize(x)
    return inversed

In [46]:
combined_df["access"] = (combined_df["activity_ratio"] + normalize(combined_df["avg_monthly_enrolment"])) / 2
combined_df["responsiveness"] = normalize(combined_df["U"] / (combined_df["E"] + combined_df["U"]))
combined_df["inclusion"] = normalize((combined_df["age_0_5"] + combined_df["age_5_17"]) / combined_df["E"])
combined_df["stability"] = (inverse_normalize(combined_df["monthly_valatility"]) + inverse_normalize(combined_df["peak_load_ratio"])) / 2
combined_df["visibility"] = combined_df["activity_ratio"]

combined_df["DEI"] = (combined_df["access"] + combined_df["responsiveness"] + combined_df["inclusion"] + combined_df["stability"] + combined_df["visibility"]) / 5
combined_df["ASS"] = (inverse_normalize(combined_df["activity_ratio"]) + inverse_normalize(combined_df["avg_monthly_enrolment"])) / 2
combined_df["UBS"] = (normalize(combined_df["biometric_burden"]) + normalize(combined_df["update_dominant"])) / 2
combined_df["SRS"] = (normalize(combined_df["monthly_valatility"]) + normalize(combined_df["zero_month_ratio"])) / 2

combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance,access,responsiveness,inclusion,stability,visibility,DEI,ASS,UBS,SRS
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000,117,337.0,1598,1935.0,2052.0,1.0,0.0,584.333333,0.423880,1.412185,0.657170,1,0.049674,0.635456,1.000000,1.000000,0.716583,1.0,0.870408,0.614544,0.618319,0.449329
1,Haryana,bhiwani,1,171,9,0,39.0,536.0,658,755,180,575.0,1413,1988.0,2168.0,1.0,0.0,661.500000,0.417128,1.366201,0.712824,1,0.050174,0.660012,0.740345,1.000000,0.767399,1.0,0.833551,0.589988,0.700071,0.431904
2,Haryana,charkhi dadri,1,40,3,0,34.0,205.0,55,83,43,239.0,138,377.0,420.0,1.0,0.0,158.666667,0.417755,1.377143,0.495784,1,0.053152,0.500000,0.547113,1.000000,0.757835,1.0,0.760990,0.750000,0.381253,0.433523
3,Haryana,faridabad,1,354,79,7,107.0,969.0,903,847,440,1076.0,1750,2826.0,3266.0,1.0,0.0,1729.900000,0.396686,1.472741,0.473100,1,0.051164,1.000000,0.224241,0.506818,0.742788,1.0,0.694769,0.250000,0.347931,0.379151
4,Haryana,fatehabad,1,134,10,0,44.0,396.0,331,746,144,440.0,1077,1517.0,1661.0,1.0,0.0,496.833333,0.440351,1.405159,0.635891,1,0.046185,0.607612,0.703717,1.000000,0.679178,1.0,0.798101,0.642388,0.587062,0.491835

In [47]:
combined_df.drop(["access", "responsiveness", "inclusion", "stability", "visibility"], axis=1, inplace=True)
combined_df.head()

,state,district,month,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,E,DU,BU,U,T,activity_ratio,zero_month_ratio,avg_monthly_enrolment,monthly_valatility,peak_load_ratio,biometric_burden,update_dominant,enrollment_update_balance,DEI,ASS,UBS,SRS
0,Haryana,ambala,1,112,5,0,29.0,308.0,598,1000,117,337.0,1598,1935.0,2052.0,1.0,0.0,584.333333,0.423880,1.412185,0.657170,1,0.049674,0.870408,0.614544,0.618319,0.449329
1,Haryana,bhiwani,1,171,9,0,39.0,536.0,658,755,180,575.0,1413,1988.0,2168.0,1.0,0.0,661.500000,0.417128,1.366201,0.712824,1,0.050174,0.833551,0.589988,0.700071,0.431904
2,Haryana,charkhi dadri,1,40,3,0,34.0,205.0,55,83,43,239.0,138,377.0,420.0,1.0,0.0,158.666667,0.417755,1.377143,0.495784,1,0.053152,0.760990,0.750000,0.381253,0.433523
3,Haryana,faridabad,1,354,79,7,107.0,969.0,903,847,440,1076.0,1750,2826.0,3266.0,1.0,0.0,1729.900000,0.396686,1.472741,0.473100,1,0.051164,0.694769,0.250000,0.347931,0.379151
4,Haryana,fatehabad,1,134,10,0,44.0,396.0,331,746,144,440.0,1077,1517.0,1661.0,1.0,0.0,496.833333,0.440351,1.405159,0.635891,1,0.046185,0.798101,0.642388,0.587062,0.491835

In [ ]:
combined_df.to_csv(r"D:\UIDAI hackathon\North\Haryana\haryana_district_analysis.csv", index=False)
final_df = combined_df[["state", "district", "DEI", "ASS", "UBS", "SRS"]]
final_df.to_csv(r"D:\UIDAI hackathon\North\Haryana\haryana_district_final_scores.csv", index=False)